[2013-05-29 20:35] janezd opened #1 "Implement information gain, gain ratio and gini index for discrete attributes (module Orange.feature.scoring)"
Implementation should use the general interface for getting the distributions and contingencies to ensure compatibility with SQL-based data storage. It should not assume that the data is stored in numpy and access the tables directly.

[2013-05-29 20:39] janezd opened #2 "Implement information gain, gain ratio and gini index for continuous attributes (module Orange.feature.scoring)"
Implementation should use the general interface for getting the distributions and contingencies to ensure compatibility with SQL-based data storage. It should not assume that the data is stored in numpy and access the tables directly.

The essential functions will probably need to be written in Cython.

[2013-05-29 20:42] janezd opened #3 "Implement ReliefF"
The code may assume (at least for the time being) that the data is stored in numpy matrices; if it is not, it is allowed to load them into numpy.

If we want to implement the ReliefF for data stored in SQL, we will probably at least partially do it on the server side.

[2013-05-29 20:43] janezd opened #4 "Reimplement the base classes from Orange.feature.scoring and Orange.feature.scoring.OrderAttributes"

[2013-05-29 20:44] janezd opened #5 "Implement Orange.feature.discretization.EqualWidth"
The code must not assume that the data is stored in numpy matrices.

[2013-05-29 20:44] janezd opened #6 "Implement Orange.feature.discretization.EqualFreq"
The code must not assume that the data is stored in numpy matrices.

[2013-05-29 20:45] janezd opened #7 "Implement Orange.feature.discretization.Entropy"
The code must not assume that the data is stored in numpy matrices.

This may need to be written in Cython.

[2013-05-29 20:46] janezd opened #8 "Implement Orange.data.discretization.DiscretizeTable"

[2013-05-29 20:46] janezd opened #9 "Implement widget Data / Rank"

[2013-05-29 20:47] janezd opened #10 "Implement widget Data / Purge Domain"

[2013-05-29 20:47] janezd opened #11 "Implement widget Data / Merge Data"

[2013-05-29 20:48] janezd opened #12 "Implement widget Data / Concatenate"

[2013-05-29 20:51] janezd opened #13 "Define the hiearchy of filters"
The filters should support any kind of data selection (rows or columns), as they will also be used for describing data sets in proxies used for SQL-based data storage.

For the beginning, think about what is needed for widget Select Data

[2013-05-29 20:51] janezd opened #14 "Finish widget Data / Select Data"

[2013-05-29 20:52] janezd opened #15 "Write / Test functions for saving data"

[2013-05-29 20:52] janezd opened #16 "Implement widget Data / Save"

[2013-05-29 20:53] janezd opened #17 "Implement widget Discretize"

[2013-05-29 20:54] janezd opened #18 "Implement widget Visualize / Distributions"
This widget will probably need to be written from scratch since the original one is rather complicated.

This is big task, not really suitable for the retreat.

[2013-05-29 20:57] janezd opened #19 "Port and redesign Leban's modules behind most visualizations"
This is a big task, not suitable for retreat. It requires thinking about what is needed by most visualization widgets, and probably also have the SQL-based storage in mind. Probably a job for Aleš.

[2013-05-29 20:58] janezd opened #20 "Implement naive Bayesian learner"
For demonstration purposes, let this learner be written so that it does not assume a particular type of storage, e.g., let it use distributions and contingencies computed by the storage.

[2013-05-29 20:59] janezd opened #21 "Port widget Classify / Naive Bayes"

[2013-05-29 20:59] janezd opened #22 "Implement SVM Learner"
Use any suitable library (probably sklearn) and assume that the data is stored in numpy.

[2013-05-29 21:00] janezd opened #23 "Implement widget Classify / SVM"

[2013-05-29 21:00] janezd opened #24 "Implement logistic regression"
Use any suitable libraries. Assume that the data is stored in numpy.

[2013-05-29 21:01] janezd opened #25 "Implement (or check) majority learner"
Use distributions; do not assume that the data is stored in numpy

[2013-05-29 21:01] janezd opened #26 "Implement widget Classify / Majority Learner"

[2013-05-29 21:02] janezd opened #27 "Implement neural networks"
Use any suitable library. Assume that the data is stored in numpy

[2013-05-29 21:02] janezd opened #28 "Port or implement widget for training neural networks"

[2013-05-29 21:04] janezd opened #29 "Define the data structure that will replace ExperimentResults"

[2013-06-02 21:24] astaric opened #30 "Add sample datasets"
Orange3 is currently missing any datasets. Copy datasets from orange2 repository, add them to default search patch and fix the FileWidget.

[2013-06-02 22:04] janezd opened #31 "Implement normalization preprocessing"

[2013-06-02 22:08] janezd opened #32 "Change the order of arguments in Distribution"

[2013-06-02 22:38] #30 closed, assigned to astaric

[2013-06-02 22:47] janezd opened #33 "Remove properties X, Y ets from Orange.data.Table"

[2013-06-02 23:12] #33 closed, assigned to astaric

[2013-06-02 23:29] #32 closed, assigned to janezd

[2013-06-03 19:14] #4 closed, assigned to BlazZupan

[2013-06-03 19:15] #1 closed, assigned to BlazZupan

[2013-06-04 10:21] #15 closed, assigned to crtg

[2013-06-04 10:58] #25 closed, assigned to lanzagar

[2013-06-04 11:51] thocevar opened #34 "bincount - unexpected keyword argument 'mask'"
Sample code that reproduces this error but works without (//2 + 1).

x = np.random.random_integers(1, 3, (10, 4))
y = np.random.random_integers(1, 5, (10, 1)) // 2 + 1
table_rand = Orange.data.Table(x, y)
dist_rand = distribution.get_distribution(table_rand, table_rand.domain.class_var)

[2013-06-04 12:07] janezd opened #35 "Fix creation of Pixmaps before QApplication is created; e.g., try running OWTable"

[2013-06-04 17:25] #5 closed, assigned to markotoplak

[2013-06-04 17:34] #8 closed, assigned to markotoplak

[2013-06-04 18:18] #22 closed, assigned to marinkaz

[2013-06-04 19:40] #20 closed, assigned to thocevar

[2013-06-04 23:15] #35 closed, assigned to janezd

[2013-06-04 23:16] #13 closed, assigned to janezd

[2013-06-05 10:12] jzbontar opened #36 "Implement linear regression"

[2013-06-05 10:13] #36 closed, assigned to jzbontar

[2013-06-05 10:22] #24 closed, assigned to jzbontar

[2013-06-05 10:40] jzbontar opened #37 "Implement softmax regression"

[2013-06-05 10:41] #37 closed, assigned to jzbontar

[2013-06-05 10:42] #6 closed, assigned to markotoplak

[2013-06-05 11:27] #27 closed, assigned to nobody

[2013-06-08 11:24] #31 closed, assigned to janezd

[2013-06-13 21:32] janezd opened #38 "Parameter k in CrossValidation"
Is k a keyword-only argument or not?

[code]

[2013-06-14 12:08] #38 closed, assigned to astaric

[2013-06-17 08:28] janezd opened #39 "automatic build for Orange3"

[2013-06-18 22:55] janezd opened #40 "Paint data widget: better formulae for magnet and jitter"
The "range" should probably fall with square of the distance, so the effect is more local. Also, rename the labels from "radius" and "density" to "range" and "effect" or something similar.

[2013-07-22 15:48] janezd opened #42 "Orange.data.io.csvSaver shouldn't add the second and the third line"

[2013-07-24 15:15] #42 closed, assigned to nobody

[2013-07-24 15:16] janezd opened #43 "Saving in .csv format"
The current function Orange.data.io.csvSaver does not handle meta attributes and doesn't add flags like D# and C# for cases in which automated recognition of variable types would fail.

[2013-07-25 13:17] mfrlin opened #44 "radioButtonsInBox in gui.py"
radioButtonsInBox is broken.

[2013-08-02 21:15] #44 closed, assigned to janezd

[2013-08-02 21:27] janezd opened #45 "Fix contexts/gui"
To replicate, connect File -> SelectAttributes

[2013-08-02 21:28] janezd opened #46 "Fix alignment problems due to additional box in spin with check box"
See "Options" in Data Sampler

[2013-08-16 17:09] janezd opened #47 "Unit tests for Continuizer's flag normalize_continuous"
Tests for the changes in https://github.com/biolab/orange3/commit/11f759366c4e36e3cd3e95424a003cf77f8d9cf2

[2013-08-25 12:01] janezd opened #48 "Move bottlechest to git (on Bitbucket or, better, Github)"
Setting up development version of Orange3 currently requires mercurial just to install bottlechest.

Change the requirements.txt correspondingly.

[2013-08-25 15:28] janezd opened #49 "Installation instructions in README.txt"
They need some updating -- it is not as easy as described there.

For instance, scipy doesn't seem pip-installable -- it complains about the missing BLAS libraries, at least on Ubuntu 13. It seems better to install numpy and scipy through apt-get, globally, not within virtual environment.

I suggest keeping them in requirements.txt, but instruct people to install it with apt-get.

This seems to ap

[2013-08-25 15:31] janezd opened #50 "Port orangeqt to orange3"
move orangeqt to a separate repository
get rid of cmake
describe how to build it for python3

The following almost works, except that it the module misses the init function

[code]

[2013-08-26 13:16] #48 closed, assigned to astaric

[2013-08-27 11:40] #50 closed, assigned to astaric

[2013-08-28 13:14] #49 closed, assigned to nobody

[2013-09-03 21:27] janezd opened #52 "CloneContexts does not work"
TypeError                                     Traceback (most recent call last):
  File "/Users/janezdemsar/orange3/Orange/canvas/scheme/widgetsscheme.py", line 546, in process_signals_for_widget
    handler(_args)
  File "/Users/janezdemsar/orange3/Orange/widgets/visualize/owboxplot.py", line 198, in data
    self.openContext(self.ddataset)
  File "/Users/janezdemsar/orange3/Orange/widgets/widget

[2013-09-16 11:37] #52 closed, assigned to astaric

[2013-09-17 12:50] #45 closed, assigned to janezd

[2013-10-06 21:24] mstajdohar opened #53 "SameValue filter crashed on table with 0 instances."

[2013-11-13 12:21] astaric opened #54 "Row uids"
Some widgets can return selected examples object, which can be used to filter visualization widgets. Selected examples can sometimes be derived from different Table than the one they are used to filter (i.e. table created with discretization, filtering, selecting attributes, ....).

We could implement this by generating a list of guids when table is created and pass it along, just as we pass weigh

[2013-11-18 07:45] astaric opened #55 "Move getattrdeep to gui.py"
Getattredeep is used when widgets from gui set values on attributes of widget's attributes. This logic should be moved to gui.py.

[2013-12-13 08:03] astaric opened #56 "Select data widget sends matching results in both outputs."

[2013-12-13 08:16] #56 closed, assigned to nobody

[2013-12-13 08:17] #55 closed, assigned to nobody

[2013-12-28 21:47] janezd opened #57 "Paint Data crashes due to settings"
Anže, do I correctly assume that this is related to your reorganization of settings for plots? I don't recall anything about settings providers before...

./Orange/widgets/settings.py:286: UserWarning: <class 'Orange.widgets.data.owpaintdata.PaintDataPlot'> has not been declared as setting provider in <class 'Orange.widgets.data.owpaintdata.OWPaintData'>. Its settings will not be loaded.
##   warn

[2013-12-31 19:34] #57 closed, assigned to astaric

[2014-02-18 06:08] leafonsword opened #58 "Error while "pip install -r requirements.txt""
_OS_:ArchLinux
When I run :pip install -r requirements.txt
`error: command 'gcc' failed with exit status 1`

[2014-03-04 03:19] #58 closed, assigned to nobody

[2014-06-04 08:53] hugobuddel opened #59 "OWDataTable commit(): 'Table' object has no attribute 'select'"
The DataTable widget allows the user to send selections of the table to the next widgets. However, the following error is raised when pressing the "Send selections" button:

[code]

The Table object indeed has no 'select' function and browsing through the history of the code I could not figure out whether there ever was such a function (still learning git) or what it should do.

This issue is itse

[2014-06-13 00:53] gw0 opened #60 "Use `pandas` for console data manipulation?"
As I understand one of the Orange3 goals is to switch to Numpy for data representation. From efficiency and interoperability perspective this would be very good, especially with [structured/record arrays](http://docs.scipy.org/doc/numpy/user/basics.rec.html). But from the console usability perspective, having a R-like interface for data manipulation would be even better and [pandas package](http:/

[2014-06-13 13:22] #59 closed, assigned to nobody

[2014-06-16 10:55] #60 closed, assigned to nobody

[2014-06-16 14:35] janezd opened #62 "Remove references to SQL from the scatter plot (and possibly other widgets)"
Having postgres should not be a general requirement for installing Orange...

[2014-06-16 14:36] janezd opened #63 "Remove TestedExample and ExperimentResults from scatter plot"
... and clean up the widget

[2014-06-16 14:43] janezd opened #64 "Add-ons"
Does Orange 3 support add-ons?

[2014-06-16 14:44] janezd opened #65 "Debian package"
How difficult would it be to create a debian package for Orange 3?

[2014-06-30 08:40] #34 closed, assigned to janezd

[2014-06-30 08:56] #53 closed, assigned to nobody

[2014-07-02 05:46] daehyok opened #66 "Symbol not found: _PyInt_Type with Anaconda in Mac OS X"
Hi. I got the following error when run python3 -m Orange.canvas in Mac OS X with Anaconda? Any help would be appreciated. I got no error when building and installing Orange3.

(py3k)[orange3:18]python -m Orange.canvas
./Orange/**init**.py:33: UserWarning: Some features will be disabled due to failing modules
Importing '.data' failed: dlopen(./Orange/data/_io.so, 2): Symbol not found: _PyInt_Type

[2014-07-16 10:13] lanzagar opened #67 "Saving data tables is slow"
Look into possible speed-ups for saving data into tab delimited files.

[2014-07-16 12:07] fccoelho opened #68 "Feature request: Way to convert Pandas dataframe to Table object"
Hi, Pandas is quickly becoming a standard in data analysis in the scientific Python community. So I think you should consider adding support for converting data in a pandas Dataframe to an Orange table object.

The other day I had a very complex csv which I wanted to read into Orange. The available CSV Importer couldn't read it but pandas, or a straight python script loaded without problems. So I

[2014-07-16 13:07] markotoplak opened #69 "Some code requires psycopg2, which is not in requirements.txt"
The canvas loads even if psycopg2 (which is not requirements.txt) is missing, but Discretize widget does not work with ordinary data table.

Should psycopg2 be added to the requirements or should the offending modules be rewritten so that they import as late as possible? Keep in mind that psycopg2 can not simply be installed with pip as you have libpq first (on Ubuntu 14.04).

[2014-07-17 12:06] #69 closed, assigned to nobody

[2014-07-18 12:49] lanzagar opened #71 "Scatterplot tooltips"
are not visible for points near the bottom and right edges.

[2014-07-30 19:24] janezd opened #75 "Scatterplot: colors for continuous values"
We need to decide whether to have a continuous or discretized palette. The latter gives more information since it is easier to distinguish between 8 shades (perhaps even missing by 1 or 2) than matching the color on continuous spectrum.

[2014-09-03 17:35] #66 closed, assigned to nobody

[2014-09-05 06:24] janezd opened #76 "Core dump when widget is added by dragging a connection"
Put a file widget on canvas. Drag a connection from File, choose Box plot widget. Orange core dumps.

This happens with other widgets, too. It does not happen if you first put the File widget and the Box plot on the canvas and then connect them.

The bug may be related to the warning which happens when the box plot is added:

  Warning: QApplication was created before pyqtgraph was imported; there

[2014-09-05 08:55] BlazZupan opened #78 "scheme -> workflow"
Use "workflow" instead of "schema" or "scheme".
1. Change New Scheme dialog
   - New Scheme -> New Workflow
   - Scheme Info -> Workflow Info
   - Show when I make a New Scheme -> Show when I create a new workflow
   - You can also edit Scheme Info later -> .. Workflow Info .. (change the menu item name as well)
2. Change Scheme to Workflow throughout the menu items in Orange Canvas. For instance:

[2014-09-05 09:40] BlazZupan opened #80 "Cancel to Browse doc data sets in File"
Open File widget such that no data sets are selected (showing "(none)"). The choose "Browse documentation data sets". Then Cancel. Combo list should go back to "(none)".

[2014-09-05 09:54] BlazZupan opened #81 "Data discretization module not loaded if absence of sqlparse"
When running canvas and if sqlparse is not install, Orange Canvas issues the following warning:

    __init__.py:36: UserWarning: Importing '.data.discretization' failed: No module named sqlparse
       _import(".data.discretization")

[2014-09-05 10:10] BlazZupan opened #83 "Browse documentation data sets fails in File widget"
In development version, Browse documentation data sets does not open the right directory.

Widget should also remember the last directory opened: open Orange, put File widget, get a file, save the workflow, close Orange, and then open Orange with the last schema. Opening the file widget correctly remembers the file, but when pressing ".." does not open its directory. Instead, at least on Macs,  it

[2014-09-05 10:27] janezd opened #86 "MDS has no legend"
Deriving/Using code from the scatter plot should help

[2014-09-05 10:36] BlazZupan opened #87 "Align buttons and combo box in File Widget"
![image](https://cloud.githubusercontent.com/assets/726604/4163532/7d5b3756-34e8-11e4-9cd0-a918b67abdd2.png)

[2014-09-05 10:52] janezd opened #88 "'Net from Distances' GUI"
Instead of Distance boundaries box please have the following box and selection:

— Edges ----

o Distance treshold

o Percentile (default checked, value 1.0)

(check box) Include closest neighbors (default: 2, unchecked)

Rename:

Options -> Node selection

All vertices -> Keep all nodes

Large components. Min. nodes: -> Components with at least nodes

Largest connected component only -> Largest c

[2014-09-05 10:54] janezd opened #89 "Installation with an old version of numpy"
When the Orange installation detects an existing installation of numpy, it does not install its own version. This can be a problem; for instance, the network add-on relies on a fixed version of numpy.

We should consider either installing it or preparing a "bundle" (a single exe) for Windows using something like cxfreeze.

[2014-09-05 10:55] janezd opened #90 "Shortcut to Main window"
It would be great if Orange had a shortcut to bring the main window (the one with the canvas) on top. I would add it — but I'd prefer not to mess up the great new clear code for canvas with my dirty unstylish hacks. So, Aleš, can you do it, please? For both versions of Orange?

[2014-09-05 10:57] BlazZupan opened #91 "Data Sample widget fails on regression data sets"
Construct workflow with File -> Data Sampler. Open auto-mpg.tab. Data sampler reports:

[code]

[2014-09-05 10:59] #90 closed, assigned to ales-erjavec

[2014-09-05 12:09] BlazZupan opened #92 "Data Table widget fails on empty input channel"
Try the workflow with Data Sampler -> Data Table, this way having None on the input channel to the Data Table. This combination fails with the following:

[code]

[2014-09-05 12:28] #92 closed, assigned to ales-erjavec

[2014-09-08 13:49] #76 closed, assigned to ales-erjavec

[2014-09-09 12:44] #91 closed, assigned to nobody

[2014-09-10 13:21] #7 closed, assigned to markotoplak

[2014-09-25 09:31] #83 closed, assigned to ales-erjavec

[2014-10-07 21:16] lanzagar opened #113 "Select Columns widget - settings error"
When doing some stuff with the Select Columns widget I get this error:

[code]

Looks like the settings attribute disappeared a while back, maybe [here](https://github.com/biolab/orange3/commit/fb97878f8d752c806ad9721c847c0531a46f47dc#diff-2281ecd412ed7edd749aca4486d1f338L155)

[2014-10-10 11:33] #113 closed, assigned to astaric

[2014-10-10 11:38] #14 closed, assigned to nobody

[2014-10-10 11:43] #64 closed, assigned to nobody

[2014-10-10 11:44] #62 closed, assigned to nobody

[2014-10-10 11:54] #39 closed, assigned to ales-erjavec

[2014-11-12 08:29] #71 closed, assigned to nobody

[2014-11-16 15:13] selepo opened #134 "[enhancement] Support for OracleDB (sql widget)"
Would it be possible to add support for Oracle DB, in the sql widget, given that it is widely used, at least in the busines world ?

[2014-11-21 09:56] #16 closed, assigned to nobody

[2014-11-21 09:57] #17 closed, assigned to nobody

[2014-11-21 09:57] #9 closed, assigned to lanzagar

[2014-11-21 09:58] #12 closed, assigned to nobody

[2014-11-21 09:59] #11 closed, assigned to nobody

[2014-11-21 10:00] #23 closed, assigned to nobody

[2014-11-21 10:01] #18 closed, assigned to nobody

[2014-11-21 10:02] #10 closed, assigned to nobody

[2014-11-21 10:04] #78 closed, assigned to ales-erjavec

[2014-11-21 10:27] #65 closed, assigned to markotoplak

[2014-11-21 10:29] #29 closed, assigned to nobody

[2014-11-21 10:31] #26 closed, assigned to nobody

[2014-11-26 10:07] jharaldson opened #143 "Tool dock empty when launching Orange3 on Mac OS X Yosemite"
Hi,

I have downloaded (https://github.com/biolab/orange3.git) and built Orange 3 according to the instructions in the README.txt.
When I start Orange, the GUI starts but there is no information under any of the categories "Data", "Visualize", "Classify", etc.

I am running Mac OS X Yosemite and python 3.4.2.

I see the following error output in the terminal window.

johans-mbp-2:orange3 ejohara$

[2014-12-10 08:39] #143 closed, assigned to nobody

[2014-12-15 10:20] #67 closed, assigned to janezd

[2014-12-28 19:02] janezd opened #192 "Discretizers only work on columns"
This test fails, but should work. This code is also included in the documentation for Instance.

class TestInstanceConversion(TestCase):
    def test_single_instance(self):
        from Orange.data import Table, discretization, Instance
        iris = Table("iris")
        inst = Instance(iris.domain, [5.2, 3.8, 1.4, 0.5, "Iris-virginica"])
        d_iris = discretization.DiscretizeTable(iris)

[2015-03-28 17:42] mfitzp commented on #68
I'm wondering if there would be potential for Pandas DataFrames (or a subclass) to be used as the internal data object for Orange? If there is a move towards numpy anyway, they work very nicely together + you get a lot of functionality for free.

[2015-03-30 09:24] janezd commented on #68
We have seriously considered using Pandas instead of pure numpy, but we would have to add to many things on our own, so we decided it would be easier to start from numpy.

However, Orange is no longer limited to data in a single format. It can already use data which is stored in SQL and only moves it to local memory when needed (e.g. it would compute naive bayesian classifier on the database, with

[2015-03-30 09:25] mfitzp opened #376 "Documentation of numpy-based data format"
In [the outline for Orange3](http://orange.biolab.si/orange3/) you mention a migration to `numpy` in the backend rather than the custom data format. Is this finished? Is there a good example of how to work with the new-type data and existing Python tools?

For a bit of background I've got my own Python-data-analysis package [Pathomx](http://github.com/pathomx/pathomx). I actually saw Orange back w

[2015-03-30 09:32] mfitzp commented on #68
@janezd That's great to hear. I can understand the thinking - Pandas does bring it's own restrictions as a base format (not least of all only allowing up to 2D data - which is limiting for image data, etc. depending on your plans for Orange). The restriction of data formats in Orange has previously prevented me from implementing some tools... time to take another look!

[2015-03-30 10:36] jharaldson opened #377 "Read cvs format"
I am using the latest Mac OS X bundle: Orange3-3.2.dev0+edcc436
It doesn't seem that the File widget supports reading csv-format, is this a current limitation?

[2015-03-30 10:59] janezd commented on #68
Check this: http://docs.orange.biolab.si/3/modules/data.table.html. The data is still 2d, but it can be, for instance, a view into a 3d array. It is much more flexible now.

[2015-03-30 12:17] mfitzp commented on #376
@janezd answered this elsewhere:

[2015-03-30 12:17] #376 closed

[2015-05-01 11:34] #377 closed

[2015-05-04 11:44] hugobuddel opened #395 "Large values (1e22) break Zoom tool in Scatterplot"
Data with large values break the zoom tool in the scatterplot widget. Values around 1e12 work fine, but values around 1e22 cause problems. The break-point seems to be around 1e16.

The zoom tool does not show the yellow rectangle when dragging with the zoom tool (hourglass) selected. Releasing the mouse jumps to a seemingly arbitrary range in the parameter space. Zooming with the scroll wheel stil

[2015-05-27 10:19] kernc commented on #134
How about introducing a new dependency, a database abstraction layer such as [pyDAL](https://pypi.python.org/pypi/pyDAL) or [SQLAlchemy Core](http://docs.sqlalchemy.org/en/latest/core/) (not ORM)? In addition to pythonic SQL statements, we get, with pyDAL at least, [seamless support for just about all SQL dialects](http://www.web2py.com/books/default/chapter/29/06/the-database-abstraction-layer#De

[2015-05-27 14:52] kernc commented on #19
I have no idea what this issue is about, but I nevertheless give a technically sound vote to ...

# matplotlib

Matplotlib is the Python standard for 2D scientific plots. It comes with [many kinds of plots out of the box](http://matplotlib.org/gallery.html), most other scientific Python tools [play along well with it](docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.cluster.hierarchy.dend

[2015-07-17 12:10] astaric commented on #54
Table has attribute ids (added in 46570001308), which is a numpy array of numbers, that are used as row identifiers. All data modifications done via Table.from_table preserve row ids. Classes extending Table can provide their own implementation of ids.

[2015-07-17 12:10] #54 closed

[2015-07-17 12:12] astaric commented on #89
"Standalone" windows installer (#373) does not have this problem as it installs everything in a separate folder.

[2015-07-17 12:12] #89 closed

[2015-07-17 12:15] astaric commented on #21
Naive Bayes widget was ported in 4dd1176d13.

[2015-07-17 12:15] #21 closed

[2015-07-17 12:24] astaric commented on #2
Information Gain, Gain Ration and Gini index were added in dba029740.

[2015-07-17 12:24] #2 closed

[2015-07-17 13:10] astaric commented on #81
Sqlparse dependency is no longer used (since d387837).

[2015-07-17 13:10] #81 closed

[2015-08-03 09:57] hugobuddel commented on #54
Thank you @astaric! This patch certainly would be useful for our fork.

Some thoughts/comments/questions:
* Wouldn't it be 'cleaner' to add the `id` attribute to the `Instance` class instead of to `RowInstance`? Because conceptually any Instance can have an `id` while only RowInstances can have a `row_index`.
* Is it possible for classes extending Table to provide non-numerical ids? E.g. a string,

[2015-08-04 07:53] astaric commented on #54
1. You are correct. id should be added to Instance. (see #558)

2. Id can be any object, as long as it is hashable. Currently they are only used in ScatterPlot widget, where they are added to a set, so they have to be hashable.

3. Currently, we use ids to check whether the two instances from different tables represent the same "real world" instance. When using bootstrapping or other methods that

[2015-08-04 07:57] astaric commented on #63
Cleanup was done in commits 0b64cd4..97f6fc5.

[2015-08-04 07:57] #63 closed

[2015-08-04 07:59] astaric commented on #40
@janezd any updates?

[2015-08-04 11:17] jamartinh opened #560 "Install problem"
[py3] C:\Users\jamh\sources\orange>python setup.py develop
  File "setup.py", line 261
    except OSError, ex:
                  ^

[2015-08-04 11:28] #560 closed

[2015-08-04 11:28] jamartinh commented on #560
Just trying to install orange2.7 :(

[2015-08-04 17:55] janezd commented on #40
When Aleš refactored this widget, he also changed this.

[2015-08-04 17:55] #40 closed

[2015-08-21 09:38] #3 closed

[2015-09-03 03:54] #75 closed

[2015-09-03 03:54] #19 closed

[2015-09-10 18:19] kernc opened #705 "VizRank in Scatter Plot crashes on anneal dataset"
[code]

[2015-09-10 19:44] kernc opened #706 "Select Columns widget crashes on emotions dataset"
Trying to select a single class variable (out of the six present in the emotions dataset) for other widgets to work, Select Columns crashes with:
[code]

[2015-09-11 22:09] janezd opened #713 "Context dependent settings in scatter plot graph"
If the color attribute is missing (which can happen since it is marked optional), it should not be set.

I used scatter plot after some clustering of painted data. When I later used it on data directly from paint, I got:

Traceback (most recent call last):
  File "/Users/janezdemsar/Dropbox/orange3/Orange/canvas/scheme/widgetsscheme.py", line 678, in process_signals_for_widget
    widget.handleNew

[2015-09-18 13:47] #706 closed

[2015-09-25 09:04] thocevar commented on #192
This works just fine, I guess.

[code]

[2015-09-28 07:36] #192 closed

[2015-09-30 13:29] jazinty opened #733 "Visualize - Parallel Coordinates fails for Iris dataset"
When trying to use widget Parallel Coordianates on Iris dataset (as can be done in Orange2.7), visualization fails with given output:

--------------------------------------------------------------------------------
TypeError                                     Traceback (most recent call last):
  File "/Applications/Orange3.app/Contents/Frameworks/Python.framework/Versions/3.4/lib/python3.4/site-

[2015-10-01 07:19] jamartinh commented on #68
[code]

[code]

[2015-10-01 11:30] astaric commented on #733
Thank you for reporting this.

I have submitted a pull request which should fix the errors you have encountered. If you are building Orange yourself, you can try applying the fix and reporting if it fixes the problem for you. If not, you will need to download a new build after the pull request is merged.

[2015-10-01 11:38] #733 closed

[2015-10-01 11:49] astaric commented on #713
I cannot reproduce this.

What I tried is:
- Clear all widget settings
- Create some data in paint widget
- Pass it through select columns to remove class
- Add k-means clustering
- Show it in Scatter Plot
- Remove k-means - Scatter Plot connection
- Connect output of select columns to Scatter Plot

What I get is just a scatter plot result without colors (as expected).

If the problem is stil pres

[2015-10-01 11:49] #713 closed

[2015-10-16 10:59] janezd commented on #68
Can you create a pull request with this? This makes it easier to follow the code and its potential changes.

[2015-11-17 13:15] kernc opened #854 "Mosaic plot produces KeyError"
@ypanagis in the [original issue report](https://github.com/biolab/orange/issues/38) says:

unable to set <Orange.widgets.gui.OrangeComboBox object at 0x04E6E6C0> to value 'Feature 9'. Possible values are status, age, sex, survived.
--------------------------------------------------------------------------------
KeyError                                      Traceback (most recent call last):
  Fil

[2015-11-17 13:18] kernc commented on #854
Thanks, I was able to reproduce by clicking Apply in Select columns widget.

The problem seems to be that [`openContext()` call](https://github.com/biolab/orange3/blob/84dfffb0fed9f1ee3b6f5bdbca63a98bd3125a24/Orange/widgets/visualize/owmosaic.py#L371) restores `self.variable1` to `'Feature 9'`. @astaric, any ideas?

[2015-11-17 14:49] kernc commented on #854
Can you also please open a new issue for this behavior, if you can reproduce it, and possibly attach the relevant files? Freezing for more than a moment should not happen, obviously. :smiley:

[2015-11-17 14:49] kernc commented on #854
@ypanagis Can you also please open a new issue for this behavior, if you can reproduce it, and possibly attach the relevant files? Freezing for more than a moment should not happen, obviously. :smiley:

[2015-11-17 15:38] ypanagis commented on #854
This isn't happening in Orange 2.7 though! :) Thanks for following up on the issue

[2015-11-17 15:53] ypanagis opened #856 "Orange freezes when trying to pass the "titanic" dataset to Data Table"
This started when trying to reproduce an error  I had when trying to build a mosaic plot. So initially I was able to load the Titanic dataset and connect the Data Table widget to the File.

Then I closed Orange and opened again trying  to reopen titanic.tab and to reconnect the Data Table. Now Orange freezes whenever I try to make the connection and I have to shut it down completely. My workspace

[2015-11-18 09:24] ales-erjavec commented on #856
Can you please locate the canvas.log file in '\Users\USERNAME\AppData\Roaming\Orange\3.2.dev\canvas\canvas.log' and post it here (the AppData directory is hidden so you need to check the 'Show hidden files in Explorer's 'Organize/Folder Options -> View' tab)?

[2015-11-18 10:28] ypanagis commented on #856
I tried some other things yesterday in Orange and the log must have changed. Also today the Orange doesn't freeeze with the above procedure. It was a strange behaviour though...

[2015-11-18 19:28] postconfused opened #859 "Orange-Text"
When I try to install the add-on Orange Text I get this error: "python -m pip install Orange3-Text exited with non zero status" (Mac)

here the details:

Collecting Orange3-Text
  Using cached Orange3-Text-0.1.5.tar.gz
Collecting nltk (from Orange3-Text)
  Using cached nltk-3.1.tar.gz
Requirement already satisfied (use --upgrade to upgrade): scikit-learn in /Applications/Orange3.app/Contents/Frame

[2015-11-22 11:40] fransiss opened #874 "obiPPI STRING server error"
Hi,
I'm trying to use the module obiPPI of the bioinformatics package to access to STRING but I got internal error server (see beloow).
Do you have any suggestion to fix it?
my code is:
from _bioinformatics import obiPPI
obiPPI.STRING()

This is the error:

Traceback (most recent call last):
  File "<interactive input>", line 1, in <module>
  File "C:\Python27\lib\site-packages\orangecontrib\bio\p

[2015-11-23 10:47] markotoplak commented on #874
Thanks! I get an error too, but maybe you can try to pass the taxonomy ID with yout constructor, such as obiPPI.STRING("9606"). This works for me.

[2015-11-23 11:50] fransiss commented on #874
Thanks! It worked for me too!

[2015-11-25 21:26] jamartinh opened #882 "How can I make a new add on available for installing trough the Orange add on installer?"
Hello, I am developing an extension to allow Orange work with Apache spark ML lib.

I will need help with some internal issues of Orange.

Any volunteers to help?

https://github.com/jamartinh/Orange-Spark

Best,
Jose

[2015-11-25 23:27] kernc commented on #882
https://github.com/jamartinh/Orange-Spark/blob/master/setup.py#L27

You publish it on PyPI.

--------
I look forward to testing it. I should also find some time to review it. Great work!

[2015-11-26 22:26] #874 closed

[2015-11-27 13:55] kernc commented on #874
@fransiss Yeah, it's by policy that we don't do verification of input parameters or raise more helpful exceptions. It's more fun this way for everyone. :stuck_out_tongue_winking_eye:

[2015-11-28 23:29] jamartinh commented on #882
Thanks !
Now it is done!

[2015-11-28 23:29] #882 closed

[2015-11-28 23:33] jamartinh commented on #68
There's a new add on available, Orange3-spark.

This add on include widgets to convert between Spark<--->Pandas<-->Orange

Perhaps the Pandas<--->Orange widgets can be included in the Default orange distro?

[2015-12-11 16:40] #859 closed

[2015-12-11 16:40] kernc commented on #859
Fixed in https://github.com/biolab/orange3-text/pull/16.

[2015-12-11 18:41] kernc commented on #68
@jamartinh Could be, but can you please explain how they would be used?

[2015-12-13 14:00] #856 closed

[2015-12-21 17:32] ahmadia opened #944 "Problems with conda package"
Hey folks,

We're having some issues with users trying to use Orange on Windows from Anaconda/conda.  Is this something you all are interested in helping us support? The issue is here: https://github.com/ContinuumIO/anaconda-issues/issues/597

There appears to be an existing package here: https://anaconda.org/anaconda/orange

I don't know if the package is correct or has problems.  I'm happy to an

[2015-12-21 20:42] Twizzledrizzle opened #945 "HDF5"
Have been looking around if it is possible to have a HDF5 file as input, could not find it as a selectable option. Is this possible with any of the widgets?

http://pandas.pydata.org/pandas-docs/stable/io.html#io-hdf5

[2015-12-22 08:35] ales-erjavec commented on #944
A quick look at the contents of the .tar.bz2 packages does reveal that the orange-canvas executable is missing from the windows package, but is present in the others.
In a normal ``python setup.py install``  the executable is created and installed by setuptools 'gui_scripts' entry_point.

[2015-12-22 14:02] kernc commented on #945
It's not yet possible with any of the widgets afaik, but we might be interested to support it with the optional dependency on h5py lib. However, since HDF5 files can contain multiple datasets and since Orange is not yet so well-suited to handling gigabytes of data in any way, there may be several obstacles to overcome.

Would you like to help us with a pull-request? :smiley:

[2015-12-22 15:09] lanzagar commented on #945
This was considered some time ago, but was not followed up (yet) as some of the encountered questions still need discussion and answers (e.g. what to do with more than 2-dimensional arrays).

Interest in this might be restarted in a couple of months, but until then you can use the prototype add-on that adds a widget for opening HDF5 files. Be warned it is not actively maintained.

https://github.c

[2015-12-22 15:09] jamartinh opened #948 "Python 3.5 Windows 10"
Hi, this, line is causing me an error in python 3.5 windows 10

lib = ctypes.pydll.LoadLibrary(os.path.join(path, "_grid_density" + sysconfig.get_config_var("SO")))

It seems this will happen in every import using this method.

The problem is that python 3.5 Anaconda has empty SO (".pyd")

I can import the library just by importing _grid_density since the python import recognize the correct extens

[2015-12-23 04:14] ahmadia commented on #944
Thanks folks for the help, we've resolved this on our side and `conda install orange` should now work for all three platforms.

[2015-12-23 04:14] #944 closed

[2015-12-23 17:01] Twizzledrizzle commented on #945
I will check it out thank you!

I am interested in this because most of our data is merged from lots of different csvs (many with different delimiters etc), then put in h5 files with 'cleaned' data.

And this package looked like a nice visualization tool for the ones at office not so keen on writing scripts/programming!

[2015-12-24 13:38] kernc commented on #948
How did you manage to install Orange with Anaconda Python 3.5?

[2015-12-24 22:34] jamartinh commented on #948
After installing requirements...

python setup.py develop

I have visual studio 2015 community.
64 bits python.
El 24/12/2015 14:38, "kernc" <notifications@github.com> escribió:

[2016-01-03 13:14] oyvinrog commented on #134
how about ODBC or JDBC? Then people would just have to use the odbc administrator and add a source of their own need. Including Oracle, Microsoft, etc.....

[2016-01-10 13:04] tastyminerals opened #965 "File data is not getting loaded"
**Steps to reproduce:**
* Installed `orange-python 3.1.1`.
* Created a tab delimited file of the following format:

[code]

* Saved the file as **data.csv**
* Opened **Orange** with `python -m Orange.canvas`
* Dragged **File** widget to the canvas, right-clicked and loaded the file
* Saw the message `Info  no data loaded`

Why the file is not getting loaded?

[2016-01-10 13:12] tastyminerals opened #966 "Running Add-ons produces an Error"
**Steps to reproduce:**
* Do `sudo pip install Orange3-DataFusion`
* Do `sudo pip install Orange3-Network`
* Run Orange
* Open **Add-ons** tab

The following message window appears:
[code]

Seriously, guys, **Orange** is in sort of unusable state.
I have been using the app on a daily basis in my work few years ago.
It was pretty stable.

[2016-01-10 16:24] kernc commented on #965
Sorry, what is that you call `orange-python 3.1.1`? Please install the latest release from http://orange.biolab.si.

With the latest Orange, I can load that file just fine.
![screenshot - 01102016 - 05 21 33 pm](https://cloud.githubusercontent.com/assets/684364/12222508/bcb1bce0-b7be-11e5-885f-c62efdcad5e6.png)

[2016-01-10 16:28] kernc commented on #966
Ack. Please retry with the latest version.

[2016-01-10 16:54] tastyminerals commented on #965
Thanks, everything works when installed from github.

[2016-01-10 16:55] #965 closed

[2016-01-10 16:57] tastyminerals commented on #966
Tried with **3.2.dev0** from github.
Same error but below it also says:
`You don't have permissions to write into Orange directory`

[2016-01-10 17:33] kernc commented on #966
Thanks for your report. You can easily solve it by installing orange into a virtualenv you have permission to write to, e.g.
[code]
This will install Orange, including add-ons later on, into that virtualenv instead of _/usr/local/lib/python..._ In fact, best have a look at this [shell script](http://biolab.github.io/install-orange/setup-ubuntu.sh).

@biolab Should we install add-ons into _~/.local

[2016-01-10 17:48] tastyminerals commented on #966
You should probably rename the script into some distro agnostic.
It does not have anything ubuntu specific and didn't use it only because of mentioned "ubuntu" .

[2016-01-10 17:50] tastyminerals commented on #966
Also, I am not 100% sure but **ubuntu** should use `python2` for `python` call. So, in the script `python setup.py develop` will call `python2`.

[2016-01-10 18:32] kernc commented on #966
Haha. Good one. :smile:

[2016-01-11 14:46] lanzagar commented on #966
I use `pip install --user` on my system for almost all pip installs and it works as it should. No need for root privileges, uses a sensible location on all platforms and no need to insert locations into `sys.path` (should be there by default).

[2016-01-12 11:38] milothatch commented on #966
Hi all,
I confirm the said error in the Windows version. I've installed yesterday's built on 64-bit Windows 8.1 Home Premium, German, with Python 3.4, and full admin rights. The error message was virtually the same as above save the paths and code line numbers.

[2016-01-12 13:20] #966 closed

[2016-01-13 09:50] jamartinh commented on #948
Thanks !!!

[2016-01-17 04:01] kernc commented on #948
@jamartinh are you confirming it now works?

[2016-01-17 04:11] #43 closed

[2016-01-17 19:52] jamartinh commented on #948
Yes, it seems to work now!

2016-01-17 5:01 GMT+01:00 Kernc <notifications@github.com>:

--
/ .- .-.. .-.. / -.-- --- ..- / -. . . -.. / .. ... / .-.. --- ...- .
José Antonio Martín H. (PhD)           E-Mail: jamartinh@fdi.ucm.es
Computer Science Faculty               Phone: (+34) 91 3947650
Complutense University of Madrid       Fax: (+34) 91 3947527
C/ Prof. José García Santesmases,s/n   28040 M

[2016-01-17 21:50] #948 closed

[2016-01-26 08:53] jamartinh opened #991 "Discretize gives me lots of erros"
[code]

[2016-01-26 12:06] ales-erjavec commented on #991
I can't duplicate this.

The first error seems to be the suspect. The `<class 'collections.Default'>` is not something which should even exist. The owdiscretize module defines a `Default` namedtuple but the class's module should be correctly set to `Orange.widgets.data.owdiscretize`. Can you please run:

    python -c "from Orange.widgets.data import owdiscretize; print(owdiscretize.Default)"

Doe

[2016-01-26 13:06] jamartinh commented on #991
<class 'Orange.widgets.data.owdiscretize.Default'>

[2016-02-03 06:43] vatula opened #1001 "'tuple index out of range' exception on MLPLearner for datasets (including Orange.data.Table('iris'))"
[code]

The exception is thrown from **mlp.py** **fit** function when it checks for Y shape: ` if Y.shape[1] == 1:`
Y has a shape (n,) and so it throws.

Should it be this or something similar instead?
```if (len(Y.shape) == 1) or  (len(Y.shape) == 2 and Y.shape[1] == 1)```

[2016-02-03 20:19] kernc commented on #1001
Probably. :smile: Would you like to submit a pull-request?

[2016-02-03 23:09] vatula commented on #1001
Probably :smile:

[2016-02-03 23:09] #1001 closed

[2016-02-04 05:17] ilanschnell opened #1007 "stable branch broken because of pkg_resources"
I'm getting the following error on the `stable` branch:
[code]
I recommend not using `pkg_resources` at all.  Being part of `setuptools`, I find `pkg_resources` being extremely unreliable, as it depends on strange setuptools magic.

[2016-02-04 11:04] kernc commented on #1007
Thanks. Is there an alternative?

[2016-02-04 15:26] ilanschnell commented on #1007
That depends on the particular use-case, I would say.  One could (as an example) have something like:
[code]

[2016-02-05 11:14] kernc commented on #1007
The example is helpful, thanks.

Is

a strictly personal opinion or is there perhaps a wider community consensus?

I don't suppose https://github.com/biolab/orange3/pull/1006 would by chance mitigate above-reported exception?

[2016-02-05 13:48] ilanschnell commented on #1007
The wider Python seems to have adopted `setuptools` by now, even though there are still many people that don't like it.  I have been in the business of Python packaging for about seven years now (first maintaining EPD at Enthought, and now Anaconda), and `setuptools` has always been a source of frustration.  By personal projects (`bitarray`, `bsdiff4`, `pycosat`) don't use `setuptools`, just plain

[2016-02-08 08:24] pacif-coder opened #1017 "Error on install with already installed python 3.4 from WinPython"
Install detail log:
==============================================================
Ignoring indexes: https://pypi.python.org/simple
Requirement already satisfied (use --upgrade to upgrade): setuptools in d:\winpython\python-3.4.3.amd64\lib\site-packages
Requirement already satisfied (use --upgrade to upgrade): pip in d:\winpython\python-3.4.3.amd64\lib\site-packages
Output folder: C:\Users\Pacif\A

[2016-02-08 08:25] pacif-coder commented on #1017
Windows Build - 2016-02-08, install file Orange3-3.2.dev0+dfc525c.win32-py3.4-install

[2016-02-09 10:44] ales-erjavec commented on #1017
You seem to be using a 64 bit Python, but Orange 3 windows installer only contains 32-bit extensions, i.e. it will only install into 32-bit Python environment. I am not sure why it even picks up the winpython in your case. If I remember correctly the location of the Python installation that is read from registry is using the appropriate 32 bit registry view, so it should not find a 64 bit Python.

[2016-02-10 15:42] akors commented on #28
Hi! What's the status on the Neural Network Widget? I wanted to use Orange3 for data analysis, but a lot of widgets are missing.

Are there still plans to port those from Orange 2?

[2016-02-10 16:00] janezd commented on #28
Yes, there are still quite a few widgets that haven't been ported yet. We don't wish to port without some maintenance, redesign, refactoring... Everything that was useful in Orange 2 will be ported eventually, and neural networks are still on the list, of course.

If you miss some specific widgets from Orange 2, you can perhaps stay with Orange 2 for now.

[2016-02-12 09:41] akors commented on #28
Thank you, I will use Orange 2 for now. I wish you success with porting!

[2016-02-15 15:08] marcerousseau opened #1021 "psycopg2.ProgrammingError: syntax error at or near "system_time""
Hi,

I am getting the following issue while using Orange.

Warning: QApplication was created before pyqtgraph was imported; there may be problems (to avoid bugs, call QApplication.setGraphicsSystem("raster") before the QApplication is created).
--------------------------------------------------------------------------------
ProgrammingError                              Traceback (most recent call

[2016-02-15 15:29] lanzagar commented on #1021
It looks like the `tsm_system_time` extension is missing on the database server (Orange uses it for sampling).
If you set up Orange and the database manually, make sure these 2 extensions are available on the server:
https://github.com/biolab/orange3/wiki/Installation-of-PostgreSQL-extensions
Or you could install both the latest PostgreSQL database and Orange with the 2UDA installer:
http://2ndqua

[2016-02-16 10:49] marcerousseau commented on #1021
Thanks, it does work indeed.
Cheers

      De : Lan Zagar <notifications@github.com>
 À : biolab/orange3 <orange3@noreply.github.com>
Cc : marcerousseau <rousseaumarc@ymail.com>
 Envoyé le : Lundi 15 février 2016 16h29
 Objet : Re: [orange3] psycopg2.ProgrammingError: syntax error at or near "system_time" (#1021)

It looks like the tsm_system_time extension is missing on the database server (Orang

[2016-02-16 11:03] lanzagar commented on #1021
Glad it works.
Closing the issue.

[2016-02-16 11:03] #1021 closed

[2016-02-16 15:25] jamartinh opened #1022 "Report of Rank Widget does not contain the feature names in the table."
Report of Rank Widget does not contain the feature names in the table.
Windows 10 64 bits

[2016-02-20 09:31] peterch405 opened #1027 "[request] Flow cytometry add-on"
I see great potential of orange3 to analyze high-dimensional flow cytometry data. I have started writing small snippets in the python script widget to read in fcs files, but what would really be amazing if we could have widgets for things like tsne, spade and other data analysis algorithms implemented. The ability to selecting subsets of data already make orange3 great for the type of data manipul

[2016-02-22 10:55] BlazZupan commented on #1027
Peter, thanks for your note. Widgets for tsne and other 2d embedding are coming (MDS and PCA are already there). We are also thinking about methods to characterize data selections from these visualizations. Can't promise you andy dates, but at least tsne should be soon.

[2016-02-22 21:44] JUILLET opened #1031 "missing distance file icon in Unsupervised"
HI,
since the new version, I don't have anymore the Distance file icon to be able to upload a file in orange 3.2.
![bug orange canvas](https://cloud.githubusercontent.com/assets/17417086/13233785/b8439520-d9b5-11e5-8b6c-1f74f694250f.png)
coud you please tell me how to fix it?

[2016-02-22 22:00] janezd commented on #1031
What a coincidence: I just submitted the code for the widgets for saving and loading distances (PR #1026). It has to be checked by another colleague, so it's going to be included in the distribution in a few days, hopefully.

[2016-02-22 22:00] #1031 closed

[2016-02-22 22:34] JUILLET commented on #1031
thanks a lot for your prompt reply
I will wait for the next distribution kit.
tell me as soon as it will be available

[2016-02-26 08:57] #87 closed

[2016-02-26 08:58] #46 closed

[2016-02-26 08:59] #88 closed

[2016-02-29 19:26] cau83 opened #1035 "Nothing happens when I run installer"
At first I thought it might be my work network which has a lot of security (though it usually stops me at the point of accessing a web site or downloading a file-- once I download, things are usually okay). The file appears to download successfully. I have tried both the 2.7 and up-to-date version. I do not see how it would be a network security issue.

I switched to a laptop (rather than virtual

[2016-02-29 20:13] kernc commented on #1035
Hi,

Yes, in Windows 10, Edge (IE) warns that the installer file is "by an unverified publisher". Nevertheless, you click Run and it proceeds with installation. Should work in Windows 7 and 8 likewise.

Could you, perhaps, temporarily disable SmartScreen and similar non-features?

**Internal note:**
We should probably apply for a certificate and [digitally sign our windos installers](https://msdn.

[2016-02-29 22:33] gcatalfamo opened #1036 "Widgets don't retain settings after worksheet reload"
Whenever I reopen a workflow I have to to reconfigure every widget (not recreate, just reconfigure) because they get messed up after reload.
It doesn't happen after every single reload but I can't track down what makes it happen.

[2016-03-01 00:09] kernc commented on #1036
What widgets are those?

[2016-03-01 08:52] gcatalfamo commented on #1036
I use mainly data and visualization widgets. The one I am certain the problem is happening are:
- DATA, select rows
- DATA, feature constructor

The widgets seems to reset:
- feature constructor is empty
- select rows offers just one condition (regardless of how many there were before) with the first available option selected

I have used Orange3.2 on mac with several snapshots of the last 2 weeks

[2016-03-01 11:28] sahmed95 commented on #68
Hi, I have worked with Pandas and numpy for data analysis projects and have a good grasp on them. I came across Orange as an alternative to WEKA in favour of python based data analysis and visualisation. I would like to try this as I am interested in GSoc 2016 and I found this issue in your ideas page.

To start, should I make a function that converts orange.data.table to pandas.DataFrame object a

[2016-03-01 19:20] kernc commented on #1036
I can't seem to reproduce. If you open [this worksheet](https://dl.dropboxusercontent.com/u/8775166/untitled.ows), the preferences are cleared?

[2016-03-01 19:56] doblak opened #1040 "Dataset credits"
Dataset files (or accompanying sidecar files or something) should probably contain links to it's sources/licenses/citation requests.

If someone can give any advices on how to accomplish that (dataset file, sidecar file, json info used by update_list.py to include the info at least in datasets.info?), I can prepare a PR.

[2016-03-01 20:53] cau83 commented on #1035
Disabling SmartScreen is not relevant, in that I want it to work on my virtual machine (the laptop was just to sandbox, it's not mine to use regularly). I don't know enough about Windows 7 security features to know where to start on this.

I did a better test by trying to install on my home pc outside of my work network (Windows 10, so not completely apples to apples). The installer started up imm

[2016-03-01 21:15] fsaina opened #1041 "Color widget delet exception"
When deleting the 'Color' widget an Exception occurs in owcolor.py:

The issue seems that the 'current_context' variable(with disc_colors and count_data attributes) isn't initialized although it is used in overriding methods: 'storeSpecificSettings' and 'retrieveSpecificSettings'

With enough info on the expected behaviour I could make a PR.

[2016-03-02 10:31] gcatalfamo commented on #1036
The preference seems to be fine.

I found a way to reproduce it: if you reload a second dataset (that has the same features), widget will reset.

[2016-03-02 17:19] rahulroxx opened #1043 "AttributeError: 'NoneType' object has no attribute 'insertRow'"
[code]

[2016-03-02 17:21] rahulroxx commented on #1043
i packaged **orangedemo** as described in the documentation  , i then installed the egg successfully but the data sample adapter doesn't show up in Orange.canvas and this error is raised.

[2016-03-02 17:42] ales-erjavec commented on #1043
Was the package by any chance installed as a zipped egg? Try installing with `pip install -e .`

[2016-03-02 17:47] rahulroxx commented on #1043
@ales-erjavec  yup  !  actually  i realized that i played around a bit with setuptools and i did

`pip setup.py sdist`
have i ruined my workspace because everytime i run canvas i shows that same error

How to revert ?

[2016-03-02 17:50] rahulroxx commented on #1043
@ales-erjavec  Thanks !

[2016-03-02 17:50] #1043 closed

[2016-03-03 13:16] janezd opened #1044 "Classification tree outputs learner when given new data"
Construct a workflow in which you have a File widget and Classification tree widget, both connected to Test learners (note that File is *not* connected to Classification tree). Test Learners runs cross validation and shows the results.

Now connect File to Tree. The tree widget should output only the learner, but it also outputs the tree learner again (although it does not change when the data is

[2016-03-03 13:20] janezd opened #1045 "Multiple sheets in Excel Files"
Orange does not support multiple sheets in Excel files. Add this functionality to the file widget. Don't ruin the GUI layout.

[2016-03-03 13:24] janezd opened #1046 "Rank widgets crashes when some target values are missing"
I tried this with regression data; classification probably has the same problem.

[2016-03-03 13:30] janezd opened #1047 "Select Columns does not trigger auto apply"
Place Select Columns within some schema and check the auto apply checkbox. Change the order of attributes by dragging within the list box. The widget does not emit the new data table although the auto apply is enabled.

[2016-03-03 13:32] janezd opened #1048 "Scatter plot should hide attributes with no defined values"
If an attribute does not have any defined values (all nan) and the user selects it, the scatter plot should show a warning.

[2016-03-03 13:33] janezd opened #1049 "Meta attributes in Sieve and Mosaic"
Sieve and Mosaic do not let the user choose meta attributes. Add them to the combo.

[2016-03-03 13:35] janezd opened #1050 "Numeric attributes in Sieve and Mosaic"
If the data contains numeric attributes, Sieve and Mosaic show a warning that instructs the user to discretize them. The widget should discretize numeric attributes using a default discretization (4 quantiles, that is, 4 intervals containing the same number of data instances).

[2016-03-03 13:39] janezd opened #1051 "Dragging of the threshold (# of dimensions) in the PCA Widget"
PCA Widget allows the user to manually drag the threshold in the graph. The threshold (the number of dimensions) is an integer, so it has to snap to the grid. Currently the number is rounded down, but the line can be at an arbitrary point.

[2016-03-03 13:48] s-alexey opened #1052 "Table: copy method"
Current implementation looks quite strange:
[code]

`self.__class__(self)` call runs init method with self as a second (typicaly X) argument. This isn't desired behavior.

**Possible solutions**: use `copy` module
[code]

or just change to `self.__class__.__init__(self)`

I can make PL, but I don't know what is the best solution.

[2016-03-03 14:48] rahulroxx commented on #1045
I did a quick fix for selecting multiple xls in the file widget . Should i update the comboBox too ?

`import os
from warnings import catch_warnings

from PyQt4 import QtGui, QtCore
from PyQt4.QtGui import QSizePolicy as Policy

from Orange.widgets import widget, gui
from Orange.widgets.settings import Setting
from Orange.widgets.utils.itemmodels import PyListModel
from Orange.data.table import Ta

[2016-03-03 14:50] rahulroxx commented on #1045
@janezd  i did a quick fix to select multiple files as mentioned in the file widget
Here is the code snippet
`    def browse_file(self, in_demos=False):
        if in_demos:
            try:
                start_file = get_sample_datasets_dir()
            except AttributeError:
                start_file = ""
            if not start_file or not os.path.exists(start_file):
                widget

[2016-03-03 14:52] rahulroxx commented on #1045
@janezd  i did a quick fix to select multiple sheets in Excel files in the FIle Widget

[code]

[2016-03-03 15:07] ajdapretnar commented on #1045
Make a PR so we can test it. Thanks!

[2016-03-03 15:09] ajdapretnar commented on #1045
Also be wary of quick fixes. In particular, make sure it works with Data Table (and its tabs functionality).

[2016-03-03 15:11] rahulroxx commented on #1045
What Exactly should i do here . Should i make a gui for displaying the Multiple Excel files in Data Table ?

[2016-03-03 15:34] RachitKansal commented on #1051
@janezd  I would like to take up this task.

[2016-03-03 15:34] RachitKansal commented on #1051
I have recreated the bug on my local machine, will send a PR soon.

[2016-03-03 15:35] ajdapretnar commented on #1045
GUI is already there. Data Table displays tabs when fed multiple data sets. Use this functionality to switch between Excel Sheets. Also implement an option to select which sheet to output in the File widget and Data Table widget. Think also about merging and concatenating data from different sheets.

[2016-03-03 15:39] rahulroxx commented on #1045
@ajdapretnar
Thanks !

[2016-03-03 15:49] RachitKansal commented on #1051
I have just made a PR https://github.com/biolab/orange3/pull/1053

[2016-03-03 15:56] rahulroxx commented on #1045
@ajdapretnar  Please review this workflow . tell me if i am wrong !
1) select multiple excel files in file widget
2) output of the file widget should be multiple excel files with switching tabs

Basically We need to access multiple excel files  in Data Table with one instance of File widget and Data Table  right ?

[2016-03-03 16:06] RachitKansal commented on #1050
@janezd  I would like to take up this issue, I have recreated it in my local machine and will send a PR soon.

[2016-03-03 16:09] ajdapretnar commented on #1045
The initial idea was to simply switch between the sheets. So if you have Sheet 1 and Sheet 2, can you switch between them in the Data Table?
Of course, it needs to be discussed where the selection would take place. Link editor would be one option, but what if the user has many sheets?
@janezd Would the sheet selection take place in the File widget or in later widgets? This seems a bit more complic

[2016-03-03 16:13] rahulroxx commented on #1046
I would like to address this problem wait for my PR !

[2016-03-03 16:22] RachitKansal commented on #1050
@janezd I have added more commits to fix the above issue. By mistake I added them to my old PR for issue #1051
So you can find these changes in PR #1053

Sorry for the inconvenience

[2016-03-03 16:33] janezd commented on #1045
The idea is that you select the sheet in the File widget.

When the user opens an Excel file (a single file!) the File widget checks whether there are multiple (non-empty) sheets. If there is just one, it loads it just like now. If there are multiple, a new combo appears in the widget (well, the combo is always there, but hidden when it is not needed) that allows the user to select the sheet. The

[2016-03-03 16:45] rahulroxx commented on #1045
I doing first half module first !
Thanks @janezd

[2016-03-03 17:19] themistoklik commented on #1050
Hello @RachitKansal , @janezd  . I was working on the same issue with a fix similar to Rachit's, with the equal width option. I add these lines to owmosaic.py
[code]
with the proper imports and I comment out the prompt to discretize.

When I run the application though ,using the Iris dataset ,the mosaic plot is not the same as the one I get if I put the file through a discretizer widget and then p

[2016-03-03 17:25] kernc commented on #1051
Should the graph also color (paint) the area between? The threshold line is absolutely not visible enough.

[2016-03-03 17:27] kernc commented on #1052
I agree.

I agree.

Does anything break?

[2016-03-03 17:28] s-alexey commented on #1052
Curent

[2016-03-03 17:35] s-alexey commented on #1052
Current Text-Mining add-on implementation use it in Corpus class and it leads to some problems there.

[2016-03-03 17:38] RachitKansal commented on #1051
I think coloring can make the graph clumsy, I was thinking thickening of the line is a better option. @janezd please take a look at this screen shot, If this is better.
![snap](https://cloud.githubusercontent.com/assets/9735009/13503318/d495db02-e194-11e5-97db-646db06976fa.png)

[2016-03-03 18:25] kernc commented on #1052
Indeed. Do Orange's unit tests (`python ./setup.py test`) still pass? If they do, please submit a pull request.

[2016-03-03 19:22] themistoklik commented on #1048
Hello @janezd ,

A warning can be displayed by adding a data.has_missing() check to owscatterplot in the set_data function.

Such a warning would be displayed not only when all values of an attribute are NaN, but also if any attribute value is NaN (which I think is useful information).

What would be more useful would be to pinpoint the feature names where the NaNs exist so the user is informed. H

[2016-03-03 19:40] DiscoRogers opened #1055 "Crash on color tool"
I have 100 rows, 124 fields, text and numeric.
When I try to load colors the widget crashes.

[2016-03-03 20:36] janezd commented on #1050
This fix is wrong. It does the opposite from what we need.

This issue is about letting the user select numeric attributes in visualization. On the other hand, the output of the widget must stay numeric.

Discretizing the data immediately, before filling the combos, would solve the first part. But it would also change the output, which we don't want.

[2016-03-03 20:42] ajdapretnar commented on #1048
The warning can be: Columns with missing values have been removed.

I still believe Scatter Plot should not offer empty attributes (NaN) in the 'Axis data' dropdowns as there is absolutely no point in having them there.

[2016-03-03 20:51] janezd commented on #1048
I agree with both: attributes with no defined values should be removed since they are not useful. If any such attributes were removed, we need a warning. Second, as @themistoklik suggested, we can warn if any data points were removed due to missing values -- that is, if an attribute has some missing values, but at least one value is defined.

I don't thing that marking the attributes with missing

[2016-03-03 21:00] janezd commented on #1052
Although it sounds reasonable and obvious, I'd be careful with this. @astaric and @lanzagar have to confirm that this change has no side effects. I may be the original author of this code (or perhaps it's @astaric), but I can't remember why it's written like this. It can be a blunder, or it may be intentional.

Do numpy array implement deep copy efficiently? (I just quickly checked - it seems that

[2016-03-03 21:14] janezd commented on #1051
It is better, in my opinion. It's something one must play with, though, to see what looks good. If I was trying to aesthetically improve the widget, I would make a dashed line instead of a solid, I would make the graph curves (the red and the greenish line) a bit thicker on the part to the left of the threshold and a bit thinner on the right. It's not really a part of this issue - the issue is fix

[2016-03-03 22:08] s-alexey commented on #1052
I'm not sure whether deepcopy is the best solution.

[code]
here we create a new object with self as a second argument. It's dangerous.

Here a simple example of problems that may occur:
[code]
and this code raises TypeError
[code]
or ValueError:
[code]

[2016-03-03 22:27] janezd commented on #1052
You're right that `self.__class__(self)` can trigger errors if `__init__` does not accept `self` as an argument. But `Table.__init__` does.

I thought about it some more. :) When an object copies itself - with either deep or shallow copy - it will have to call the constructor in some way. `copy.deepcopy(self)` does the same thing as `copy` does now: it calls the constructor (probably through pickl

[2016-03-04 03:03] RachitKansal commented on #1050
Okay, I will just look into it.

[2016-03-04 08:59] rahulroxx commented on #1045
@janezd i was able to select multiple files with file widget and further i was able to do save configuration of selected files before closing the program . But i am facing to create a new tab within the table widget >
The problem is I am sending the output signals from filewidget to tablewidget that contains multiple paths but input of table widget is not handling that . Only todo here is to creat

[2016-03-04 11:44] lanzagar commented on #1051
@janezd @BlazZupan

Yes, often you want all components (e.g. for comparison). If we want the graph to cover the whole range it might be better to have it in logarithmic scale (x-axis). I think it would also be acceptable to have it limited to 100 components if there is a separate option to use all components instead.

It makes perfect sense and should definitely be possible. Think of gene expressi

[2016-03-04 15:58] janezd commented on #1045
Please read my explanation above. We could, in principle, adapt the table widget to select a data set out of the list. But we would have to do the same for *all* other widgets, too. We'd like to do exactly the opposite - move the selection of a sheet (from a single file) to the file widget.

[2016-03-04 16:37] rahulroxx commented on #1045
@janezd I am not able to get the whole thing as I am new to this project but I want to learn through this issue  . It Would be nice if you please elaborate more  Thanks  :+1:

[2016-03-04 19:26] janezd commented on #1045
Sure.

As I wrote above, when the user opens an Excel file (a single file!) the File widget should check whether there are multiple (non-empty) sheets. If there is just one, it loads it just like now. If there are multiple, a new combo appears in the widget (well, the combo is always there, but hidden when it is not needed) that allows the user to select the sheet. The combo is populated with the

[2016-03-04 23:45] s-alexey commented on #1052
Thank you, @janezd. I was a little confused, but I have figured it out now.

there is a difference: `Table.copy` doesn't copy `domain` attribute.

Finally, lets `c = t.copy()`. Whether it is right that `c.ids == t.ids`?

[2016-03-05 04:50] kwikadi commented on #1049
Sieve's [layout](https://drive.google.com/file/d/0B4s3vRi7f8BsV1JIR1dMR2lESlk/view?usp=drivesdk)  (on master, I haven't tried other branches yet)  currently looks significantly different compared to other tools, and its look defined in the [orange docs](https://github.com/biolab/orange3/blob/965077fd4a296f44dcad73e4d246c79ef9ab7540/doc/visual-programming/source/widgets/visualize/sievediagram.rst)

[2016-03-05 10:34] janezd commented on #1049
Meta attributes are supposed to be added to the same combo within the existing layout - not in a new combo. The layout does not matter (in principle, though the changes should of course be applied to the new layout, not the old one).

[2016-03-05 10:35] janezd commented on #1049
Meta attributes are supposed to be added to the same combo within the
existing layout - not in a new combo. The layout does not matter (in
principle, though the changes should of course be applied to the new
layout, not the old one).

Cheers,
       Janez

On Sat, Mar 5, 2016 at 5:50 AM, Adi <notifications@github.com> wrote:

[2016-03-05 10:41] janezd commented on #1052
Oh, yes, and this is really important: the `domain` shouldn't be deepcopied. Copying it wouldn't break anything, but it would imply that the new table does not come from the same domain and decrease the efficiency by adding unnecessary conversions.

I'm not sure about `ids`, but I believe it's OK to have `c.ids is t.ids` because we can consider them to be immutable.

[2016-03-05 11:57] s-alexey commented on #1052
I used to think so, but ...
[code]

[2016-03-05 14:56] kernc commented on #1055
Can you share the data file?

[2016-03-05 16:20] rahulroxx commented on #1045
@janezd For Mutiple sheets I need to embed xlrd module for fetching multiple sheets from a single file  . So that will change Orange.data.table function from_file in Table instance  which furthur depends on .io.py because Table take the path as args . [Event handling]  Later , further changes into combobox widgets will be reflected  according to sheet names in excel file (single file)
Is it what w

[2016-03-05 20:23] rahulroxx commented on #1047
@ales-erjavec 	Fixed Issue #1047

[2016-03-05 20:42] janezd commented on #1045
Don't fetch multiple sheets, fetch just their names, so you can show them in the combo. Loading multiple sheets may take too much time since sheets can be huge, and they can be in incorrect format or empty.

So, always load just the currently selected sheet. Method `Orange.data.io.ExcelFormat.read_file` already accept sheet as an argument; you can append the sheet name to the filename, using `:` a

[2016-03-05 20:48] rahulroxx commented on #1045
@janezd Totally Agreed !

[2016-03-05 20:53] janezd commented on #1052
You're right, `ids` can't be shared, and `copy` creates new `ids` (through constructor).

The exception that you got is correct: `Table`'s constructor does not copy the data matrix and so it can't change it.

This reminds me: @astaric, @kernc, is there any place where we change `Table` (and can't avoid it) or could we make it immutable?

[2016-03-05 22:14] kernc commented on #1052
We make tables immutable! I love you! :+1:

[2016-03-05 22:41] s-alexey commented on #1044
I've suggested my solution.

But it isn't only `OWClassificationTree` problem. I think it would be better to add some logic into `OWProvidesLearner` class.

something like:

[code]

[2016-03-05 23:04] kernc commented on #1044
Code consolidation and refactoring are an integral part of a healthy development process. As you say, the more one can solve problems cleanly, the better.

[2016-03-06 03:35] rahulroxx commented on #1047
@ales-erjavec Fixed issue with PR #1064

[2016-03-06 20:06] wadhwasahil opened #1065 "Table not loading breast-cancer.tab"
When I try to load the file breast-cancer.tab in a data table format, the column under tumor size is showing missing values whereas they exist in the original file.
Why is it happening as all the other files tested by me are working/opening correctly?

[2016-03-06 20:40] wadhwasahil commented on #1050
hi @janezd . I am thinking of using One Hot encoding for discretization. Is it fine for you?

[2016-03-06 22:00] s-alexey commented on #1044
Ok, I can perform `OWProvidersLearner` improvement. Here is a drawft. I would like to know you suggestions.
[code]

I have tried it with TreeClassification and it works fine.

[2016-03-07 00:10] s-alexey commented on #1065
It happens because of the `tumor size` column type. Just change the second line in the file
from
d	d	d	**0-4 5-9**	0-2 3-5 6-8 9-11 12-14 15-17	d	d	d	d	d
to
d	d	d	**d**	0-2 3-5 6-8 9-11 12-14 15-17	d	d	d	d	d

*note:* do not remove tab spaces around 0-4 5-9

[2016-03-07 06:19] wadhwasahil commented on #1065
oh. Thanks (y) .
But how does system knows which intervals are for which column?
I mean, **0-4 5-9** are for tumor-size and **0-2 3-5 ..... 15-17**  are for inv-nodes. They are only seperated by spaces while **d** are seperated by a tab. So, how does system knows which intervals are for which column?

[2016-03-07 07:51] s-alexey commented on #1065
Look carefully, there is a tab between 5-9 and 0-2.

[2016-03-07 08:10] wadhwasahil commented on #1065
Okay. got it!

[2016-03-07 09:11] ales-erjavec commented on #1041
The `current_context` is initialized and valid between calls to `openContext` and `closeContext`. This is done in `set_data` method.
The `storeSpecificSettings` should check if `current_context` is None (this is a perfectly valid state); and do nothing in that case.

[2016-03-07 09:22] lanzagar commented on #1065
Nice catch!
However, I would not close this issue yet - the fix has not been applied in the Orange repository yet.
Maybe one of you wants to create a pull request with it?

[2016-03-07 09:46] #1065 closed

[2016-03-07 09:49] lanzagar commented on #1065
Thank you both for noticing the issue and fixing it.

[2016-03-07 11:20] wadhwasahil commented on #1065
I have also generated PR for this. LOL

[2016-03-07 11:27] wadhwasahil commented on #1050
@janezd Since, there is already an option to discretize the numeric data using the widget, what is the need for doing it manually?
"This issue is about letting the user select numeric attributes in visualization." How does the user selects the attributes, using a widget?
Could you please explain what do you actually need?
Thanks in advance.

[2016-03-07 13:07] DiscoRogers commented on #1055
[Data.xlsx](https://github.com/biolab/orange3/files/161307/Data.xlsx)

[2016-03-07 13:18] DiscoRogers commented on #1055
I found that if I filter out a few columns then there's no problem.  The problem is that the widget dialogue tries to color all of the columns at once, so it goes crazy slow and in the worst case, stops responding.  Maybe if you had to choose the columns that you wanted to color instead of coloring them all by default?

[2016-03-07 13:29] janezd commented on #1050
What is actually needed is explained above.

You have a good question: why? To minimize the number of widgets. There's a balance between how "basic" do you want the widgets to be and how many widgets does the user need to put in a workflow. If a widget A is always preceded with B, the functionality of B should be integrated with A -- unless this requires that the whole GUI of B is included in A, t

[2016-03-07 14:08] janezd commented on #1055
Thanks for identifying the problem. The palettes were supposed to be generated while they were being shown. PR #1069 should fix the problem.

[2016-03-07 14:28] wadhwasahil commented on #1050
Yeah. The answer was satisfactory. Has it been resolved?

[2016-03-07 14:33] janezd commented on #1050
No, not yet.

[2016-03-07 15:00] ales-erjavec commented on #1041
The same problem exists in in 'Distance Matrix' widget.

[2016-03-07 15:37] kernc commented on #1055
Thanks for reporting.

[2016-03-07 15:37] #1055 closed

[2016-03-07 16:46] kernc commented on #1044
:+1:

`outputs` property would have to be writable, see https://github.com/biolab/orange3/blob/506c87c8b42a7842e47072c1dbe5207459eb4dfb/Orange/widgets/widget.py#L39.

Indeed, there's a lot that could be beneficially consolidated. If you submit this as a "[WIP]" pull request, we can comment on lines individually.

[2016-03-07 18:49] #1049 closed

[2016-03-07 20:06] wadhwasahil commented on #1048
@janezd . If I have the attribute name "age", so how can I print all the values of "age" in the dataset?
Also, how to check if there is a missing value? Do you have any pre defined function for it?

[2016-03-07 21:03] wadhwasahil commented on #1048
@janezd Please can you see my PR and suggest changes.
1. How to remove warnings from the console if I had posted it. I tried graph.update().
2. I have considered only those attributes with Nan or "?" values and generated warnings.

Waiting for your reply.
Thanls

[2016-03-07 21:33] kernc commented on #1048
The following is standard in numpy, pandas, and works with Orange as well:
[code]

[2016-03-08 02:21] wadhwasahil commented on #1048
Please see my PR and suggest  changes @kernc

[2016-03-08 17:24] wadhwasahil commented on #1048
@kernc Have a look at the new PR :)

[2016-03-08 17:56] iamved commented on #1041
Fixed issue with PR #1075

[2016-03-08 18:44] wadhwasahil commented on #1050
Could you provide some hint as how to proceede since the above described methods dont seem to work

[2016-03-08 19:05] janezd commented on #1050
See the later commits in https://github.com/biolab/orange3/pull/1053. Half of a problem is solved there. The interesting part - that of selection a subset of instances - is still open.

[2016-03-08 19:28] wadhwasahil commented on #1050
Can you please elaborate by selection of subset of instances.

[2016-03-08 21:47] janezd commented on #1050
In Mosaic and Sieve, if I select one or more rectangles in the plot, the corresponding data instances appear on the output. This works for discrete features. The solution in #1053 does not support this (yet). See #1053 for details.

[2016-03-09 10:36] ajdapretnar opened #1077 "Report for Confusion Matrix"
Report for Confusion Matrix widget looks strange. Implement gridlines, color correct and misclassified instances accordingly (as in the widget), variable names and sums in bold.

[2016-03-09 10:55] ajdapretnar opened #1078 "Report for Stochastic Gradient Regression"
Implement Report function in Stochastic Gradient Regression as in other widgets. Report on learner name, model parameters and data.

[2016-03-09 10:56] ajdapretnar opened #1079 "Report for Linear Regression"
Implement Report function in Linear Regression as in other widgets. Report on learner name, model parameters and data.

Note: Button is already implemented, but it returns nothing.

[2016-03-09 10:57] ajdapretnar opened #1080 "Report for Univariate Regression"
Implement Report button function in Univariate Regression as is in other widgets (e.g. Scatter Plot widget). Report on learner name, model parameters and data.

[2016-03-09 10:59] ajdapretnar opened #1081 "Report button on Distances widget"
Implement Report button function in Distances widget as is in other widgets (see Scatter Plot widget). Report on the used parameters.

[2016-03-09 11:06] ajdapretnar opened #1082 "Impute widget crashes on learner input"
Impute widget crashes when provided with a learner input. Should automatically switch to 'Model-based imputer' and use it. Also the widget should check for model compatibility (classification or regression).

[2016-03-09 11:16] ajdapretnar opened #1083 "Venn Diagram: Set input names"
Input names displayed in Venn Diagram are often strange. If an input comes from Select Rows widget, the input name in Venn should say this (e.g. "Fruits_and_Vegetables.xlsx - subset 1"). Also allow for a custom rename of inputs directly in Venn.

[2016-03-09 11:18] ajdapretnar opened #1084 "Remove.py: Purge meta attributes"
Purging should be applied also to meta attributes (constant and unused metas). See Purge Domain widget for example.

[2016-03-09 11:20] ajdapretnar opened #1085 "Test & Score: add stratified sampling check box"
Implement stratified sampling option (a check box) in Test & Score widget for Cross validation and Random sampling options. The evaluation algorithms already provide code for stratified sampling, which is used by default in case of classification problem (discrete continuous variable); now make it optional.

[2016-03-09 11:22] ajdapretnar opened #1086 "Tutorials: open tutorials with the intended data set"
Check tutorials and make sure they open with the intended data set. Now, they open with the last file that was loaded with the File widget.
Run Orange with `--clear-widget-settings` and load a tutorial to see the proper data set.

[2016-03-09 11:33] ajdapretnar opened #1087 "Preprocess: add a random selection of features"
Add 'Random feature selection' to Preprocessor widget. It should be similar to 'Select relevant features' , but implemented as a separate preprocessor. It should allow a selection per proportion or a number of features (again, see 'Select relevant features').

[2016-03-09 11:37] ajdapretnar opened #1088 "Hierarchical Clustering widget: show group ID on cluster selection"
Dendrogram in Hierarchical Clustering widget should display cluster IDs when clusters are selected. Think about where to put the label: onto the cluster, to the left, or to the right of the cluster. TBD.

[2016-03-09 13:54] ajdapretnar opened #1089 "Rank: crash on missing class values"
Rank widget crashes on missing class values. Seems to be a ReliefF problem. When the problem is fixed, check ranking in both Rank and Scatter Plot widgets.

[2016-03-09 14:36] wadhwasahil commented on #1089
What output do you want in case of missing class?

[2016-03-09 14:41] shark-S commented on #1079
have to implement  code for linear regression in orange environment ??

[2016-03-09 14:43] shark-S commented on #1087
can we also implement 'Best fit selection  feature' for that model ?

[2016-03-09 14:54] wadhwasahil commented on #1089
Can you provide the data file where crash is happening?

[2016-03-09 14:58] ajdapretnar commented on #1079
No, you have to add report function as is present in other widgets.

[2016-03-09 15:00] ajdapretnar commented on #1087
What do you mean by 'best fit'? Relevant features can already be selected in a different preprocessor. Here we only need random selection.

[2016-03-09 15:04] shark-S commented on #1087
okk . I thought of if user don't have understanding of model then we can represent of Best fitting model  which give good accuracy .But here is no need of it ??

[2016-03-09 18:14] wadhwasahil commented on #1087
Don't we have randomize option in the pre-process widget?

[2016-03-09 18:53] kwikadi commented on #1084
I think I've done this, but just to be sure, the GUI should look like [this](http://imgur.com/1qymGfg), correct?

[2016-03-09 19:27] kwikadi commented on #1084
I'm slightly confused, sorry for the multiple comments, but I'm not sure what the issue is, exactly.
https://github.com/biolab/orange3/commit/fa1ebea3128fc6ceb65a9d0245b0826ecda62842
This commit has already added support for meta vars in remove.py. What, then, is the problem to be solved?

[2016-03-09 21:40] iamved commented on #1080
I have been done with learner name and data but facing issue with adding parameters. Please tell me how to add variable such polynomial expansion and Target. I tried for both but getting some errors.

[2016-03-09 23:04] iamved commented on #1078
issue almost fixed,will send PR soon.

[2016-03-10 09:51] smkuls commented on #1077
Is this fine? [owconfusionmatrix.py ](https://github.com/biolab/orange3/blob/master/Orange/widgets/evaluate/owconfusionmatrix.py) is internally calling report_table which is used by other widgets too (such as Test Learners). If I modify it to add colors, it will affect the others (right now I just added an optional border parameter to the call). I can customize it individually for Confusion Matrix

[2016-03-10 09:57] wadhwasahil commented on #1077
how did u make the test bold? Can you provide the line of change?

[2016-03-10 10:01] smkuls commented on #1077
I updated the report_list function in [report.py](https://github.com/biolab/orange3/blob/master/Orange/canvas/report/report.py)

` def report_list(data,
                        header_rows=header_rows, header_columns=header_columns,border=border):
            if border:
                cells = ["<td style=\"border : 1px solid black\">{}</td>", "<th>{}</th>"]
            else:
                cells

[2016-03-10 10:14] wadhwasahil commented on #1077
@smkuls `self.report_table(
                "Confusion matrix for {} (showing {})".
                format(self.learners[index],
                       self.quantities[self.selected_quantity].lower()),
                self.tablemodel, header_rows = 2, header_columns =2)`
Is this you mean?

[2016-03-10 10:30] wadhwasahil commented on #1077
Some One please check my PR and suggest changes. 2 issues are being solved in the above PR of mine.
Thanks in advance.

[2016-03-10 10:33] smkuls commented on #1077
@wadhwasahil  If you ask somebody for a fix then you don't include that in "your" pull request. Have some courtesy.

[2016-03-10 10:42] wadhwasahil commented on #1077
@smkuls . I think we are here to help each other. If you want I will change the (2,2) line and do something different. I don't know what offends you. After all we are a community and here to share our thoughts and ideas.
#1065 I created this issue and submitted a PR after some time before that someone had merged his PR. I didn't tell the people to merge mine as the overall aim was to contribute.
S

[2016-03-10 10:51] smkuls commented on #1077
@wadhwasahil - Had you submitted it on your own I wouldn't have had any issue at all (which is what I presume happened with you). I agree we are here to help each other but what we aren't here for is to take credit for somebody else's efforts. The least you could have done was to say "thanks" or asked if you could include it in your PR.

Anyway, go ahead! Both of us have loads of issues to fix. Pe

[2016-03-10 10:54] smkuls commented on #1077
Btw an advice, the instructions mention that you should address only one issue in a single PR. See the [post](https://groups.google.com/forum/#!topic/orange-gsoc/mcPVaSmvGJ4).

[2016-03-10 11:08] wadhwasahil commented on #1077
I will fix it.

[2016-03-10 14:30] kernc commented on #1082
How to reproduce? Is this about the widget or about the class?

[2016-03-10 14:34] kernc commented on #1083
@BlazZupan, @janezd How does a suffix like "subset 1" .. "subset n" help in discerning where the input came from? (In a reloaded workspace, for example.)

[2016-03-10 14:39] ajdapretnar commented on #1087
Randomize doesn't randomly select a subset of features, it randomly switches classes, metas or features. Please give a look at what these preprocessors do in order to understand what the tasks requires.

[2016-03-10 14:52] ajdapretnar commented on #1083
This one is for me to explain. Subset 1 obviously isn't a great way to represent the subset, but now it's even worse with the entire data set name displayed in Venn (eg. 'iris' and 'iris'). Is it possible to come up with a more descriptive and/or recognizable input names?

Also I'm having trouble with Select Rows input. Venn displays nothing to two Select Rows inputs, while Data Table normally con

[2016-03-10 15:09] ajdapretnar commented on #1082
File --> Impute. Connect learner to Impute (I used Classification Tree) and select 'model-based imputer' in the widget.

[2016-03-10 15:25] shark-S commented on #1089
@ajdapretnar if class is missing then it also effect on model we choose and plot graph also  so we have to remove that section which is incomplete? and also if only data table in rank is corrected then it can give wrong results. can you guide in this?

[2016-03-10 15:46] ajdapretnar commented on #1089
There's already a PR in the making by one student. The idea was to purge the instances with missing class values for ReliefF.

[2016-03-10 16:05] kumargaurav2596 commented on #1088
how about placing the cluster id vertically , starting from the point at which branches intersect
or
making the cluster id follow the mouse pointer as long as a particular cluster remains in focus.

which one sounds better?

[2016-03-10 16:22] shark-S commented on #1089
Got it thanks for help.

[2016-03-10 19:05] janezd commented on #1077
Please be patient. First, not everybody lives in the same time zone. Do not expect an answer in one hour - or two or five - although we try. Pull requests sometimes need a month to be checked. Of course, for potential GSoC students we're doing it as fast as we can and we answer most in matter of hours, but we cannot rush things and merge changes that are not carefully tested.

It would be a huge h

[2016-03-10 19:05] kernc opened #1099 "Venn Diagram only contains zeros"
##### Steps to reproduce

Load iris.tab and connect File → Select Rows → Venn Diagram. And connect File → Venn Diagram.
Set condition in Select Rows: `sepal_length > 5`.
##### Expected bahavior

Venn Diagram contains correct number of instances in each slice.
##### Actual behavior

Venn Diagram shows 0 instances in all slices.
##### Additional info (worksheets, data, screenshots, ...)

[venn-zeros

[2016-03-10 21:01] shark-S commented on #1086
hello @ajdapretnar  we can use parse and set "python -m Orange.canvas"  to  "python -m Orange.canvas --clear-widget-settings" so  when we type  "python -m Orange.canvas" it  automatically work like "python -m Orange.canvas --clear-widget-settings" . Is this okay ??

[2016-03-10 21:37] shark-S commented on #1099
Hi @kernc  i have checked same configuration but it is giving correct ouput. there intersection is 117 rest one is 0 and another is 30 is this ryt??

[2016-03-11 06:07] mudit5bachhawat commented on #1099
Hi @kernc , I checked the same. Getting same result as @shark-S. Can you give some other details?

![screenshot from 2016-03-11 11 33 20](https://cloud.githubusercontent.com/assets/6140491/13694644/752f4d08-e77d-11e5-8139-78b3153557ba.png)

[2016-03-11 06:28] mudit5bachhawat commented on #1046
Any updates on this? I have also started to work on this?

[2016-03-11 07:38] mudit5bachhawat commented on #1046
I am not able to find any crash.

![screenshot from 2016-03-11 13 05 37](https://cloud.githubusercontent.com/assets/6140491/13696095/275d906e-e78a-11e5-9fa6-b388ec58adf5.png)

[2016-03-11 07:50] ajdapretnar commented on #1099
It's not exactly the right configuration. It has to be as below. So two Select Rows widgets give two empty sets and an empty intersection (even though the intersection should exist based on the data).

![capture](https://cloud.githubusercontent.com/assets/12524972/13696360/2dcfad70-e766-11e5-8e1a-666422173917.PNG)

[2016-03-11 07:56] wadhwasahil commented on #1089
@ajdapretnar So should we leave this issue?

[2016-03-11 07:58] ajdapretnar commented on #1046
Your data says it has discrete class with no missing values. The problem is when the data **has** missing values (that is missing target variables). Also Rank crashes even directly on iris data, so there's another issue with it anyway.

[2016-03-11 07:59] ajdapretnar commented on #1089
For the time being, you can. I'll let you know if the PR is not submitted in due time. Thanks!

[2016-03-11 08:01] wadhwasahil commented on #1089
:+1:

[2016-03-11 08:15] wadhwasahil commented on #1081
There is no report button on Scatter Plot Widget. So, do we have to add that?

[2016-03-11 09:21] kernc commented on #1046
@ajdapretnar Rank doesn't crash on iris? Perhaps recompile.

[2016-03-11 09:22] kernc commented on #1089
Duplicate of https://github.com/biolab/orange3/issues/1046.

[2016-03-11 09:27] wadhwasahil commented on #1089
I have a question.
How to check which amongst the radio buttons is selected in pyqt?

[2016-03-11 09:31] kernc commented on #1099
@shark-S, @mudit5bachhawat Download [the attached venn-zeros.ows](https://github.com/biolab/orange3/issues/1099#issue-139980983) file (remove the .txt extension) and try with that.

[2016-03-11 09:31] mudit5bachhawat commented on #1099
Yes, I got that. Working on this.

[2016-03-11 10:57] s-alexey commented on #1085
See PR #1102

[2016-03-11 11:02] janezd commented on #1080
See how it's done in #1092. Also, see comments in #1091.

[2016-03-11 11:09] wadhwasahil commented on #1078
I am facing one problem here. When I open the Stochastic Gradient Regression widget, it doesn't fit on my laptop and I can't see the `Apply` button on the screen.
How to fit the widget to the screen or make the widget scrollable?

[2016-03-11 11:44] s-alexey opened #1105 "Setting Handler: doesn't overwrite super class settings."
Settings from subclass are replaced by super class ones.
##### Steps to reproduce the behavior

Create Regression Tree (or SVM Regression) widget and check it default name.

[2016-03-11 12:03] iamved commented on #1080
sorry I forget to delete the comment and the issue was solved already at that point of time.

[2016-03-11 12:05] iamved commented on #1078
I am also facing the same issue, Please tell us how to fit the widget to screen.

[2016-03-11 12:06] wadhwasahil commented on #1078
I have done it. Will send the PR soon.

[2016-03-11 13:07] janezd commented on #1088
If I understood your first suggestion correctly - you meant this?
![labels](https://cloud.githubusercontent.com/assets/2387315/13702962/8387cd2a-e792-11e5-8067-b84f5d96ad56.png)
I like it.

[2016-03-11 13:08] janezd commented on #1081
There is report on scatter plot. You meant scatter map? Scatter map will be removed, so no point in improving it.

[2016-03-11 13:17] rahulroxx commented on #1045
@janezd Please help me to start Settings for sheets  .

[2016-03-11 13:19] wadhwasahil commented on #1081
i have added it to distance transformation widget.

[2016-03-11 13:19] janezd commented on #1045
I would have to see what the code looks like now.

[2016-03-11 13:22] rahulroxx commented on #1045
@janezd #1074

[2016-03-11 13:24] janezd commented on #1045
I'm sorry, I somehow overlooked it.

[2016-03-11 13:30] rahulroxx commented on #1045
@janezd i didn't yet used `ExcelFormat.read(excelfile:sheetname)` , i have passed the filename which and `ExcelFormat.read(excelfile:sheetname)` takes sheet[0] for now !
i'll fix this with context settings

[2016-03-11 13:39] rahulroxx commented on #1045
@janezd tell me what i am missing if any ?

[2016-03-11 13:47] kumargaurav2596 commented on #1088
Great, then I guess I will go with this one only.

[2016-03-11 13:47] kumargaurav2596 commented on #1088
Any other suggestion?

[2016-03-11 14:04] janezd commented on #1088
While you're at it, could you also add cluster id's as tooltips?

[2016-03-11 14:07] ales-erjavec commented on #1089
A QRadioButton inherits a `checked` property from http://doc.qt.io/qt-4.8/qabstractbutton.html#checked-prop, you can access it with `rb.isChecked()`

[2016-03-11 17:30] kumargaurav2596 commented on #1088
I am a little new to orange, what exactly is a tooltips?

[2016-03-11 17:53] kumargaurav2596 commented on #1088
Also should I put cluster id's permanently at each intersection or should they be visible as long as its respective cluster is in focus.

[2016-03-11 19:29] janezd commented on #1088
Permanently.

Tooltip is a text that appears when the mouse is hovering over an object.

[2016-03-11 23:42] kernc commented on #1086
If that's your proposed solution, I don't think it's ok. `--clear-widget-setting` clears all settings and widgets' state. We can't reset those every time Orange starts?

[2016-03-12 07:04] shark-S commented on #1086
@kernc when user make new file then data set will load by them manually and when workflow is opened then it will open its default dataset and when we apply this configuration then tutorials will also opened with there intended data set.it this right??

[2016-03-12 14:58] shark-S commented on #1105
@s-alexey  its default name is "SVM Regression". can you explain a little bit more?

[2016-03-12 15:11] s-alexey commented on #1105
It's probably my fault. As I have figured it out settings were pickled (.local/Orange/widges/) with wrong names (but I don't know why). So default values were taken from pickle file.

[2016-03-12 17:46] kernc commented on #1078
@wadhwasahil, @iamved On GNU/Linux standard window managers (Gnome and quite possibly Unity, KDE, Xfce, Lxde, ...), there's a setting, normally enabled by default, to move the window by holding `Alt` and left-clicking and dragging anywhere on the window surface.

[2016-03-12 17:50] matevzkren commented on #1087
Submitted a pull request at https://github.com/biolab/orange3/pull/1112 ..

Hopefully, this is what you had in mind (the 'redesigned' icon included). Tips & corrections appreciated!

[2016-03-12 17:57] kumargaurav2596 commented on #1088
Correct me if I am wrong, their is no predefined cluster id declared for each cluster. So I have to put C1,C2,C3... in level order tree traversal.

[2016-03-12 18:06] wadhwasahil commented on #1078
I did it on unix :smile:

[2016-03-12 19:45] kernc commented on #1088
I think it should follow the coloring.

[2016-03-12 19:47] kernc commented on #1105
Possibly something to do with https://github.com/biolab/orange3/pull/1072?

[2016-03-12 20:47] kernc commented on #1086
Actually, @shark-S, I'm not sure I understand or can reproduce the issue here. The tutorials seem to open with their intended data set. For me at least. Let's wait for @ajdapretnar to give some feedback.

[2016-03-12 22:53] #1089 closed

[2016-03-13 09:23] shark-S commented on #1086
okk @kernc  .

[2016-03-14 08:58] ajdapretnar commented on #1086
For me, the issue persists. When I load my own data set in the widget, then discard the workflow and open the tutorials, the File widget in the tutorials workflow is empty. If I have previously loaded data from url, the url is remembered and the data from it loaded in the tutorials' File widget. I believe this is not the desired behaviour.

Also, *Exploring the Latent Factors* tutorial reports an

[2016-03-14 13:48] kernc commented on #1086
@ajdapretnar, can confirm the issues, thanks!

[2016-03-14 13:49] shark-S commented on #1086
@ajdapretnar correct me if anypoint i am wrong. when we load tutorial it data set it  is  not loaded automatically we have to load it manually. and every time when i open it i have to set data manually.
Working on it .

[2016-03-14 14:04] ajdapretnar commented on #1086
Yes. Not sure whether to leave the File widget in 'Classification Tree' empty as a part of the tutorial on how to load the data or not, but all other tutorials should be loaded with the suggested or optimal data set.
The fix should apply only to the **File widget**, all other widgets should be set to defaults, allowing the user to follow the tutorials on her own.

[2016-03-14 14:12] shark-S commented on #1086
Yeah thanks  understood.Working on it.Sending a PR soon.

[2016-03-14 17:46] kumargaurav2596 commented on #1079
I am working on it.

[2016-03-14 19:34] shark-S commented on #1086
@ajdapretnar  I have found that there is no error in code it is mistake in workflow if we improve them then it work as proper and when we open a tutorials it gives no error.I have send a PR please guide me.

[2016-03-15 12:19] kumargaurav2596 commented on #1079
This is what the report looks like, does it need any change or should I commit.
![linear_regression_report](https://cloud.githubusercontent.com/assets/10504619/13777422/23af999a-ead6-11e5-9e62-256c6bfdedf3.png)

[2016-03-15 15:21] kumargaurav2596 commented on #1083
Can you please explain in little detail, the naming scheme that you are hoping to implement.

Beside I think their is another issue that, the venn diagram show 0 items even though the set is non empty. Is that an issue or I am missing on something.

![venn_diagram](https://cloud.githubusercontent.com/assets/10504619/13783019/9d01167a-eaef-11e5-85a5-9e1caa4aa081.png)

[2016-03-15 15:32] kernc commented on #1083
@kumargaurav2596 That's the issue https://github.com/biolab/orange3/issues/1099 and its fix https://github.com/biolab/orange3/pull/1110. You can verify that [patch](https://github.com/biolab/orange3/pull/1110.patch) works for you.

[2016-03-15 20:22] kumargaurav2596 commented on #1079
I have submitted a pull request for this issue [FIX] Report for Linear Regression #1079 #1118

[2016-03-16 13:01] kernc commented on #1079
Fixed in https://github.com/biolab/orange3/pull/1092.

[2016-03-16 13:21] #1079 closed

[2016-03-16 20:05] matevzkren commented on #1082
Referenced in PR https://github.com/biolab/orange3/pull/1122

[2016-03-17 10:05] kumargaurav2596 commented on #1022
I have spoted the reason for this issue. The report_standard_model(model) function in  report_table() method in canvas/report/report.py checks for horizontal header and append it if present but it has no such check for vertical header. Should I include this check here or should I just add vertical headers as additional column in the table before passing them to report_table() method in widget/data

[2016-03-17 10:07] kumargaurav2596 commented on #1083
Should I include double click on level to rename it functionality.

[2016-03-17 11:42] kernc commented on #1022
@kumargaurav2596 Thanks for figuring it out. I think we should check for vertical headers in _report.py_.

[2016-03-17 14:31] #1046 closed

[2016-03-18 11:03] #1080 closed

[2016-03-18 12:09] #1081 closed

[2016-03-18 13:19] ajdapretnar opened #1126 "Add ReliefF and FCBF to Preprocessor"
Measures from Rank widget (ReliefF and FCBF) should also be available in Preprocessor widget for 'Select Relevant Features' preprocessor. Add them to the Score dropdown.

[2016-03-18 15:06] #1041 closed

[2016-03-18 20:57] #1078 closed

[2016-03-18 21:05] janezd commented on #28
Closing this issue. It is one of the topics for GSoC 2016.

[2016-03-18 21:09] janezd commented on #86
Fixed in #478

[2016-03-18 21:09] #86 closed

[2016-03-18 21:10] #80 closed

[2016-03-18 21:14] janezd commented on #705
Apparently we fixed that, and now we get another error.

[code]

[2016-03-18 21:36] akors commented on #28
Why close it now? You can close it after the Summer student ;)

I am happy to help with some Testing, if you need it.

p.s.: congratulations on getting GSoC student!

[2016-03-18 21:37] janezd commented on #28
You're right. :)

[2016-03-19 04:10] shark-S commented on #1126
@ajdapretnar task is implement Relief  and FCBF in classification like knn, naive-bayes etc.
I have made code to implement Relief and FCBF(started) but problem is icons ? can you provide it? or have to choose my self?

[2016-03-19 19:20] kernc commented on #1126
This task is about adding ReliefF and FCBF (both implemented in Orange.preprocess.score) to the relevant combo box in the Preprocess widget. @shark-S If you need icons, you're free to find some suitable ones. :smile:

[2016-03-19 20:07] shark-S commented on #1126
thanks for reply @kernc . can we use QtDesigner (convert *.ui to python code(*.py) then implement in orange) you know it is time saving?

[2016-03-20 06:29] shark-S commented on #1126
@kernc  and @ajdapretnar look at [PR](https://github.com/biolab/orange3/pull/1133). if anything wrong guide me.

[2016-03-20 12:26] janezd commented on #1126
There was a question about Qt Designer, but now it disappeared from the thread. Anyway: don't use it. Perhaps for drawing the interface, but the actual interface must be written manually, using functions from module `gui`.

One reason is that this lets Orange save and load settings; if you use Qt Designer, it will save you some work initially, but you'll pay the price later on. The other reason is

[2016-03-20 14:52] shark-S commented on #1126
Thanks for reply.
    I have tried to use Qt Designer (for another work). It is fast to
design but then after as you said it more time consuming. :(

On 20/03/2016, Janez Demšar <notifications@github.com> wrote:

[2016-03-21 10:19] janezd commented on #1031
I hope you're still interested in Distance Matrix widget --- releasing a new build is taking longer than expected.

These are release candidates that contain the widget.

* OSX: http://orange.biolab.si/download/files/nightly/Orange3-3.3.dev0%2b861098e.dmg
* Windows: http://orange.biolab.si/download/files/nightly/Orange3-3.3.dev0%2b861098e.win32-py3.4-install.exe

[2016-03-22 20:46] JUILLET commented on #1031
Hi

thanks a lot
now it's OK
regards
  ----- Original Message -----
  From: Janez Demšar
  To: biolab/orange3
  Cc: JUILLET
  Sent: Monday, March 21, 2016 11:19 AM
  Subject: Re: [orange3] missing distance file icon in Unsupervised (#1031)

  I hope you're still interested in Distance Matrix widget --- releasing a new build is taking longer than expected.

  These are release candidates that conta

[2016-03-23 14:57] ajdapretnar opened #1134 "Save Graph doesn't save axes"
Save Graph functionality doesn't save axes properly (name and scale of axis). Also png files are saved on the basis of current window size and thus become difficult to scale if saved with small window.

[2016-03-28 18:09] kumargaurav2596 commented on #1022
Please check the PR #1142 and let me know if anything is wrong.

[2016-03-30 14:29] MEL27 opened #1143 "Icons missing in Orange Canvas"
##### Orange version

3.3.1.dev0+5d39ea2

##### Expected bahavior
Icons showing up.

##### Actual behavior
Icons didn't show up, except the ones in Help.

##### Steps to reproduce the behavior
Launch orange-canvas

##### Additional info (worksheets, data, screenshots, ...)

OS: Windows 10 Home
Orange installed from installer from official website

![screenshot](https://cloud.githubusercontent.com/

[2016-03-30 14:40] ajdapretnar commented on #1143
@MEL27 Thank you very much for such precise description!
I'm running the same version on Win8 and am not experiencing the same issue.
Perhaps @thocevar can check for Win10?

[2016-03-30 15:28] kernc commented on #1143
Does this help?

https://stackoverflow.com/questions/34629635/orange-canvas-does-not-show-any-icon/

[2016-03-31 01:51] MEL27 commented on #1143
@kernc
Yes, it does. After I created a qt.conf according to the instruction, the problem is solved.
I didn't see the answer when I searched. Thanks for the link!

[2016-03-31 02:25] MEL27 commented on #1143
Instead of adding a qt.conf, using `QtCore.QCoreApplication.addLibraryPath('./Lib/site-packages/PyQt4/plugins')` may be a better solution. [(from stackoverflow)](http://stackoverflow.com/a/23525640)

[2016-04-01 17:09] kernc commented on #1143
Thanks!

@ales-erjavec, can we use this?

[2016-04-01 20:37] #1085 closed

[2016-04-01 20:38] #1051 closed

[2016-04-02 22:29] s-alexey commented on #1105
@kernc, probably not. It's actually a bug.

**Steps to reproduce the behavior:**
- Remove `Orange.widgets.classify.owclassificationtree.OWClassificationTree.pickle` from `~/.local/share/Orange/*/widgets/`
- Create Classification Tree widget.
- Select gini method.
- Delete widget (save settings)
- Create Regression Tree widget.

[2016-04-03 05:18] kumargaurav2596 commented on #1134
I fixed the scaling issue by passing the dimensions of Qgraphicsview instead of scene to create the buffer and then scaled the the  painter in _get_target() function in orange/widgets/io.py , as show below

[code]
Now the scaling of painter in the _get_target()
[code]

But as you can see using painter is not at priority, instead it is the exporter that tries first.

With exporter I tried
`exporter

[2016-04-04 13:59] zidarsk8 opened #1156 "In OWWidget button clicked event gets triggered on enter key pressed."
##### Orange version

3.3.2.dev0+e62ff25

##### Expected bahavior

When creating a widget with Orange.widgets.widget.OWWidget, I would expect my events to work the same as with QtGui.QWidget, but it seems there are a few differences with keypress events.
##### Actual behavior

Return Key press triggers click event on the first button that has autoDefault=True.
The weird part is that this behaviour

[2016-04-04 16:28] kernc commented on #1156
The problem is likely in `OWWidget.keyPressEvent()`. @janezd / @astaric, Perhaps lead the way to eventual purging of it and `OWWidget.defaultKeyActions` in favor of something short, like:
[code]

[2016-04-04 16:33] ales-erjavec commented on #1156
This behavior is inherited from [QDialog](http://doc.qt.io/qt-4.8/qdialog.html#default-button).

[2016-04-04 18:24] zidarsk8 commented on #1156
@ales-erjavec So that is expected behaviour, but does ti make sense? or is there a nice way for me to disable the default button on return key pressed?

[2016-04-04 18:56] kernc commented on #1156
Working with generic widgets here, couldn't we extend QWindow instead? What good does QDialog give us besides Esc key closing it?

[2016-04-05 07:07] ales-erjavec commented on #1156
I think it also provides a size grip, but that's about it.

[2016-04-07 14:22] roya0045 opened #1161 "Issue when installing network and spark add-on without a compiler"
Greetings,

I installed most of the add-ons that were available but when I try to install the Network and the Spark add-ons(from Orange and from the command line), I end up getting an error telling me that Microsoft Visual C++ 10 is needed ( mostly for the file vcvarsall.bat). I have MinGW and Notepad++ installed, I don't know if those two could help or if I absolutely need to install VisualStudio

[2016-04-08 09:36] lanzagar commented on #1082
There are 2 pull requests addressing this issue (#1094, #1122) so let's discuss here.
Both PRs prevent the crash, but do not solve the root of the problem IMO.

Supplying a single learner will always be a problem since it cannot be used to impute all variables if data contains a mix of continuous and discrete vars.

1) I think the best solution is to allow 2 inputs for the Impute widget: Classific

[2016-04-08 09:53] #1045 closed

[2016-04-08 11:32] ales-erjavec commented on #1099
The root cause of this is that the two input data sets which are presented to the 'Venn Diagram' widget **do not** have the same domain due to the use of 'Remove unused classes' option in 'Select Rows' (and a suitably chosen filter to exclude all instances with some class value). The exact same thing happens when the widget is presented with, say, *iris.tab* and *lenses.tab* data sets.

[2016-04-09 09:24] #1022 closed

[2016-04-11 21:10] mrihtar opened #1172 "Problem reading Weka .arff files (Orange 2.7, with solution)"
##### Orange version
Orange version: **2.7.8.dev-a238ebf**  (git revision: a238ebf)

##### Expected behavior
Widget 'File' should be able to read Weka .arff files as defined by Weka, including attributes of type string and proper parsing of single/double quoted values, which could include delimiter (',').

##### Actual behavior
The code for doing this (**Orange/data/io.py**) has several bugs:
- cu

[2016-04-11 21:15] kernc commented on #1172
This issue should probably better be raised on Orange 2's repository: https://github.com/biolab/orange
You might even want to submit the patch as a pull request?

[2016-04-11 21:22] mrihtar commented on #1172
Thanks! There are so many repositories under biolab I just didn't see the old repository.

[2016-04-11 21:26] kernc commented on #1172
Well, there's some brief mention of it in the README. :stuck

[2016-04-11 21:26] #1172 closed

[2016-04-11 21:28] kernc commented on #1172
Indeed. No problem. Thanks for your willingness to contribute! :smiley:

[2016-04-12 14:51] kernc commented on #1156
We can't extend QMainWindow as that requires a `centralWidget` which makes widget's `self` no longer the widget the author can play with but the sole window instance.

Since [QDialog only handles Enter/Return keys](https://github.com/qtproject/qtbase/blob/3f41e8a2f51698d690a6b1f6a1f4acfe13ff50af/src/widgets/dialogs/qdialog.cpp#L635) somewhat as it documents, we can safely prevent calling `super().

[2016-04-13 07:56] ajdapretnar commented on #1161
@roya0045 I solved this by adjusting the compiler (used MinGW).
When running setup, enter:
python setup.py build_ext -i --compiler=mingw32 install

You might also have to add C:\MinGW\bin to PATH (system-wide) before compiling.

[2016-04-13 07:56] #1086 closed

[2016-04-13 08:04] ajdapretnar commented on #1035
@cau83 Can we consider the issue closed?

[2016-04-13 08:05] ajdapretnar commented on #991
@jamartinh Have you solved the issue or does it still remain?

[2016-04-13 10:28] cau83 commented on #1035
Yes

Sent using CloudMagic [https://cloudmagic.com/k/d/mailapp?ct=ti&cv=6.0.64&pv=8.2]
On Wed, Apr 13, 2016 at 4:04 AM, Ajda <notifications@github.com> wrote:
@cau83 [https://github.com/cau83] Can we consider the issue closed?

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub [https://github.com/biolab/orange3/issues/1035#issuecomment-209293427

[2016-04-13 10:39] #1035 closed

[2016-04-13 10:42] ajdapretnar commented on #1017
@pacif-coder Has the issue been resolved for you or do you need additional info? In other words, can the issue be closed?

[2016-04-13 10:43] ajdapretnar commented on #1036
@gcatalfamo Could you please let us know if the issue persists with the latest build?

[2016-04-13 10:49] pacif-coder commented on #1017
After re-install windiows, Orage was be successful installed - it's mast be error on prevision windiows  from several different Python version installed
And "Yes", it issue  can be closed

[2016-04-13 10:49] #1017 closed

[2016-04-14 15:25] kernc commented on #1134
Fixed in https://github.com/biolab/orange3/commit/6b57116a3d57ca16397b4cae5bf20e232c583e63

[2016-04-14 15:25] #1134 closed

[2016-04-15 09:04] astaric commented on #1044
Fixed in #1072

[2016-04-15 09:04] #1044 closed

[2016-04-15 09:11] brylie opened #1184 "Integrate Orange with OpenML.org"
The OpenML.org website provides buttons to export flows for Weka, MOA, and RapidMiner. E.g.
http://www.openml.org/t/1940

As an Orange user, how do I import a data-flow from OpenML.org into an Orange data flow graph?
# Related issues
- #1264 OpenML Authentication widget
- #1265 OpenML Data Set widget

[2016-04-15 12:51] kernc commented on #1184
We don't support loading Weka, MOA, or RapidMiner projects. Orange has its own workflow scheme (.ows). Incidentally, OpenML doesn't (yet) support Orange. If you care, perhaps you can write them and express your interest? :smiley:

[2016-04-15 12:59] ajdapretnar commented on #1007
@ilanschnell Is the issue still pertinent?

[2016-04-15 13:01] ajdapretnar commented on #705
@janezd @kernc I reckon nobody has yet attended to the issue? Is is something we can fix promptly?

[2016-04-15 13:02] ajdapretnar commented on #1040
@doblak Can we close this issue?

[2016-04-15 13:04] ajdapretnar commented on #47
@janezd @astaric Can we close this issue? :smile:

[2016-04-15 13:13] ajdapretnar commented on #395
@hugobuddel For me the issue no longer persists. Can I close it?

[2016-04-15 13:32] kernc commented on #1040
@ajdapretnar How about we fix it first?

[2016-04-15 14:05] hugobuddel commented on #395
@ajdapretnar I haven't used Orange in a couple of months (although I'd like to get back to it), so I'll take your word for it on whether the problem is fixed. Feel free to close the issue.

[2016-04-15 14:09] ajdapretnar commented on #1040
This is a month old issue. I'm just asking whether this has been resolved or not to clear the list of stale issues. If this is not desired, I'll leave it alone.

[2016-04-15 14:12] ajdapretnar commented on #395
I've used the data set you provided and I didn't encounter any problems. I'm closing the issue for now, if any problem occurs, you can open a new one. :smile:
Thank you for reporting the issue!

[2016-04-15 14:12] #395 closed

[2016-04-15 14:35] kernc commented on #1040
I think datasets meta data (including proper attribution) is still an open issue. :smiley_cat:

[2016-04-15 15:03] ajdapretnar commented on #1040
Ok. Is it possible to resolve it in a week or so? @doblak @kernc Yes, I'll be your issue nazi from now on.  :smile:

[2016-04-15 15:18] kernc commented on #1126
Fixed in https://github.com/biolab/orange3/commit/0cc7e419d85f6c8434e5b0247d3198aa79d471bc. Thanks!

[2016-04-15 15:18] #1126 closed

[2016-04-15 15:20] kernc commented on #1040
I don't think so. We haven't even discussed it. Except the idea of a "Fetch Data" widget like the one in Bio. Good luck! :metal:

[2016-04-16 08:16] astaric commented on #1105
I have created a PR with the fix. Can you try it and see if it fixes your problem?

[2016-04-16 08:23] astaric commented on #1040
For datasets included in the distribution, we could add a separate <dataset_name>.metadata file, which could include (hopefully machine readable) description of the data, source url, license (and anything else we might consider relevant). The refactored Reader interface could easily be modified to include a metadata method/property that would parse this file and present the information to the user

[2016-04-16 09:44] janezd commented on #1040
YAML should suffice. A small subset of it, actually. Just associative arrays. :)

I volunteer to write a proprietary parser with at most 50 states. In pure Cython, for speed.

[2016-04-16 12:24] kernc commented on #1040
So why not *.tab?

[2016-04-16 20:35] s-alexey commented on #1105
@astaric, it doesn't crash now.

[2016-04-16 22:29] #1105 closed

[2016-04-17 08:57] janezd commented on #47
I believe so. The code that should have been tested is long gone, AFAIK.

[2016-04-17 09:24] janezd commented on #705
I think so. #1189 fixes the bug I reported. @kernc, can you still reproduce yours?

[2016-04-17 11:50] #705 closed

[2016-04-17 21:41] drws opened #1190 "There is a desktop file missing in a Linux version"
##### Orange version
3.3.1.dev0

##### Expected bahavior
/usr/share/applications directory is populated with a orange.desktop file providing a desktop icon on Linux machines.

##### Actual behavior
That doesn't happen - the /usr/share/applications/orange.desktop file is missing.

##### Steps to reproduce the behavior
Install Orange on a Linux machine.

[2016-04-17 21:45] drws commented on #1190
This is an example desktop file working on Arch Linux system:

    [Desktop Entry]
    Version=1.0
    Type=Application
    Name=Orange
    Exec=orange-canvas
    Terminal=false
    Icon=/usr/lib/python3.5/site-packages/Orange/canvas/icons/orange-canvas.svg
    Categories=Development;

[2016-04-18 09:06] brylie commented on #1184
@kernc good suggestion. There is some middle ground here it seems.

[2016-04-18 09:08] brylie commented on #1184
I posed the Orange Data Mining + OpenML question on the [OpenML discussion list](https://groups.google.com/forum/#!topic/openml/W_QeCy3BP8w), and got a response:

[2016-04-18 12:12] kernc commented on #1184
Thanks!

Would you like to work on it?

[2016-04-18 12:43] brylie commented on #1184
Well, I am rather new to the entire ML realm, having just started learning Orange in the past couple of weeks. I can certainly try, but may need a someone to break the task into small chunks.

[2016-04-18 12:56] brylie commented on #1184
I got basic approval to pursue this task at work, so can dedicate some time to the task given guidance.

[2016-04-18 12:57] brylie commented on #1184
One starter idea is to create a UI widget that can be used to enter OpenML credentials.

[2016-04-18 13:09] brylie commented on #1184
Also, where can I find instructions describing how to set up a development environment? I am running Linux, with primary experience in JavaScript development.

[2016-04-18 14:01] cheral commented on #1184
https://github.com/biolab/orange3/wiki/Installation-on-Ubuntu-13.04
http://orange-development.readthedocs.org/index.html
http://orange.biolab.si/docs/

[2016-04-18 15:10] kernc commented on #1184
Actually, these are the up-to-date instructions: https://github.com/biolab/orange3#installing If you seem to be missing any packages, install them from your distribution channels.

[2016-04-19 06:56] ajdapretnar commented on #1143
@kernc @ales-erjavec Are we using the above fix? Perhaps @MEL27 you could submit a PR?

[2016-04-19 06:58] ajdapretnar commented on #1083
@kernc @kumargaurav2596 Could we just add the option for the user to rename the input in Venn and leave the default as is?

[2016-04-19 07:03] ajdapretnar commented on #1084
@kwikadi Purge Domain widget does not remove unused or constant meta attributes. It needs to include the option for removing it.

[2016-04-19 07:04] ajdapretnar commented on #1088
@kumargaurav2596 Is this already included in any PR?

[2016-04-19 07:10] ajdapretnar commented on #1052
@s-alexey Is the issue still pertinent? From what I know we decided to keep the current implementation and wait for pandas. If that's the case, I kindly invite someone with the authority to close the issue. :smile: If not, keep the magic going!

[2016-04-19 07:20] #1052 closed

[2016-04-19 10:03] brylie commented on #1184
I have followed the "how to install for development" instructions, and am browsing the source. Where would be a good place to define OpenML related widget(s)? How do I define UI elements (e.g. is there a tool such as QtCreator or other approach)?

[2016-04-19 10:24] brylie commented on #1184
Basically, this task is a lot of "uphill" for me. I am willing to learn, but have very little experience here. There is also very little documentation for me to lean on.

[2016-04-19 10:26] brylie commented on #1184
One counter-example would be the Node-RED platform, where there is relatively clear documentation about creating new nodes:
http://nodered.org/docs/creating-nodes/first-node

[2016-04-19 10:42] rahulroxx commented on #1184
@brylie You can look at Documentation at [](http://orange.biolab.si/docs/)

 Please don't use QtCreator or QtDesigner for coding widgets , as it will hard at later point of time when dealing with loading and saving settings in Orange . You can use them to design layout of the widget . but widgets should be coded manually .
You can use functions from **gui.py **
[]( https://github.com/biolab/orange

[2016-04-19 11:14] kernc commented on #1083
@ajdapretnar Add the option _how_?

@kumargaurav2596 Doubleclick sounds like it will be hidden and overlooked (i.e. no one will know about it). Probably better if an [edit icon](https://www.google.com/search?q=edit+icon&tbm=isch) pops up next to it on hover.

[2016-04-19 12:56] ajdapretnar commented on #1083
I guess the way it's implemented in Color widget. But I also like the idea of the edit icon on hover.

[2016-04-19 15:47] kernc commented on #1036
I made a subset of iris with Select Rows and saved it to iris2.tab. I add another variable in feature constructor and save _that_ as iris3.

When setting File to load iris2, it works. With iris3, it doesn't. Simple replacing of `PerfectDomainContextHandler` with `DomainContextHandler` didn't work, obviously. The domain is just not the same (even if it includes all the relevant variables). @astaric

[2016-04-20 05:40] MEL27 commented on #1143
I've submitted a pull request #1194 . The hack is dirty given that we still don't know what exactly happens under the hood. But yeah it works.

[2016-04-20 07:30] kumargaurav2596 commented on #1083
@kernc  doubleclick to edit is already available, how about on hover we just display "double click to edit" message.

[2016-04-20 07:42] kumargaurav2596 commented on #1088
@ajdapretnar  I have implemented the "c1, c2, c3 ..." leveling but it gets really messy specially a the lower levels due to lack of space. Can we rethink of the naming style.

[2016-04-20 10:50] astaric commented on #1036
We can fix it :)

I'll prepare a PR.

[2016-04-20 12:42] kernc commented on #1088
Can you show an example image?

[2016-04-20 13:35] rahulroxx opened #1195 "[ENH] Support for JSON in io.py"
AFAIK Orange3 is not supporting JSON files . Orange3-text has support for parsing json but that is limited to NY Times Widget . I would like to work on , if it's required. :smile:

[2016-04-20 15:34] astaric commented on #1036
A fix and imperfect matching of domains for FeatureConstructor widget is implemented in #1196. Please see if the second part of the workflow above now works with changing datasets.

I haven't managed to check the Select Rows widget yet.

[2016-04-21 08:01] astaric commented on #1036
After playing around with the Select Rows widget, I could not find any problems. The fact that it does not restore filters for similar datasets is by design, as using it on adult and adult-sample keeps the filters just fine.

If one were to use many different datasets, which share only few of the variables, trying to apply filters from one to the other might not be a wisest choice, as they will be

[2016-04-21 08:01] ajdapretnar commented on #1036
@astaric I've tested it and encountered an error. When I loaded iris, then Select Rows (sepal length > 5), Feature Constructor, FC crashed (unexpected EOF). Now for the love of me I cannot replicate it.
Also I saved a subset as iris2.tab with a new variable constructed (call it 'dummy'). When I loaded it in the (original) File widget, Feature Constructor (which was still connected to the File widg

[2016-04-21 13:20] kumargaurav2596 commented on #1088
![clustering](https://cloud.githubusercontent.com/assets/10504619/14710107/b3281ff6-07f1-11e6-9c5a-f943eb67646e.png)

Their isn't enough space to squeeze the levels in the lower branches of dendrogram.

[2016-04-21 13:38] gcatalfamo commented on #1036
The problem with resetting filters is that for a similar/improved/cleaner
dataset I have to rebuild the whole workflow that might consist of several
transformations.
For my specific use case, perhaps too specific, having a workflow that
retains its filters and adapts to different datasets with compatible
features would be useful indeed. :-)

On Thu, Apr 21, 2016 at 10:01 AM, Anže Starič <notificat

[2016-04-21 14:10] janezd commented on #1036
There may be two reasons for sometimes using `PerfectDomainContextHandler`. Sometimes imperfect matches would not make sense, and sometimes, we're just lazy.

There are just four widgets that use `PerfectDomainContextHandler`. Select Rows, Color, Distance map and Sillhouete plot. The first two don't need perfect matching, but would require specialized handler. Distance Map and Silhouette plot stor

[2016-04-21 14:18] janezd commented on #1088
It wasn't meant like this.

- If the user selects some clusters, mark them.
- If the user sets a threshold (e.g. by dragging the cut-off line), mark the resulting clusters.

We can assume that there would not be more that 99 clusters. If there are more (which does not make sense, though), don't show labels.

I like bigger labels -- at least in the picture at the beginning of the conversation they

[2016-04-21 14:23] astaric commented on #1036
I am considering the idea of using a minimum required match for clone. When set to 0.9, a context would be cloned only when most of the settings in it apply to the new dataset. If a match is below given threshold, a new context would be generated.

This way, we could "clone" setting between similar datasets while still starting with a fresh copy for the datasets that are significantly different th

[2016-04-21 14:34] janezd commented on #1036
I like your simplifications of context handlers. Don't make them great again. :)

I don't think thresholds will work well; 0.9 won't have a general meaning across domains. If we go in this direction, then the widget/handler must decide (`True` or `False`) whether to clone or not.

[2016-04-21 15:43] astaric commented on #1036
Ok, no threshold then :)

I have updated PR with support for clone_context in SelectRows widget. Comments are welcome.

Please do not merge the PR yet, as it requires some refactoring. FeatureConstructor and SelectRows context handlers are almost the same so I will probably probably move shared methods to DomainContextHandler.

[2016-04-22 07:40] lanzagar commented on #1195
What kind of json files would you like to support? Add another data file format, for storing models, or some other type of objects?

[2016-04-22 07:46] rahulroxx commented on #1195
@lanzagar  Adding another data file format.

[2016-04-22 07:57] lanzagar commented on #1195
I presume that in that case you are targeting an existing data file format for which you want to add support.
1) Could you be more specific about which format do you want to support (name, reference, specification, links?)
2) Provide a few reasons why we would want to support it (is it widespread, do many other tools use it, which ones?)
3) What are the benefits compared with the existing formats

[2016-04-22 10:33] cheral commented on #1195
Nice idea @rahulroxx
@langazar response to most of the API calls is in json or XML format.
If we can add support to json or xml  format that would make integration API's and making widgets for various API's much easier

Like instead of adding support for NYT ( let's say Alchemy API , Semantria etc in future) separately
And writing code for each one of them separately

We can add support to json or

[2016-04-22 12:05] kernc commented on #1195
This is a really good idea! But are the JSON or XML schemas of those APIs the same or at least compatible? How can we support this functionality in a generic, compatible way? How do we construct a structured data table from an unstructured JSON?

[2016-04-22 14:15] #1190 closed

[2016-04-22 14:35] brylie commented on #1184
I am working through the widget development [getting started tutorial](http://orange-development.readthedocs.org/tutorial-cont.html), but cannot get the example widget to appear. I have done the following:

1. added the `orange-demo` folder inside `/orange3/Orange/widgets/`
2. created the file structure as outlined in that document
  - orangedemo
    - icons
      - `DataSamplerA.svg`
    - `__ini

[2016-04-22 14:50] kumargaurav2596 commented on #1088
sorry, I guess I misunderstood last time, I am working on it...

[2016-04-22 15:17] rahulroxx commented on #1184
@brylie You can find your custom widget as shown below ,
![screenshot from 2016-04-22 08 10 01](https://cloud.githubusercontent.com/assets/16189966/14745976/55efdb14-0862-11e6-9fff-b34a92ce4619.png

Custome Widgets are under  Demo in my case .

[2016-04-24 16:26] kernc commented on #1184
If you run `python -m Orange.canvas -l 4`, do you get any errors? Your `orange.widgets` entry point is not a tuple, rather a single value enclosed in braces — missing a comma there.

[2016-04-24 16:34] kernc commented on #1190
@drws Thanks for reporting. Can you confirm [the latest master](https://github.com/biolab/orange3) does install the launcher correctly?

[2016-04-24 21:53] brylie commented on #1184
Ok, thanks @kernc. For what it's worth, that code comes directly from the [demo widget tutorial](http://orange-development.readthedocs.org/tutorial-cont.html#a-package-named-demo)

[2016-04-25 07:01] ajdapretnar commented on #1161
@roya0045 Does it work now? If so, could you please close the issue?

[2016-04-25 07:18] ajdapretnar commented on #854
@kernc @astaric @janezd A stale issue that still needs fixing. I'm getting the error even with the updated master.

[2016-04-25 07:19] #47 closed

[2016-04-25 08:40] brylie commented on #1184
@kernc given the current entry points:

[code]

Should the `entry_points` line be changed to this?

[code]

[2016-04-25 08:55] astaric commented on #1036
I have refactored the code and updated the PR. I suggest you test it to see if it works the way you expected and report any problems directly on the PR.

[2016-04-25 08:57] brylie commented on #1184
After some searching (and following a broken link in the Orange documentation), I found an example of an `entry_points` definition. So, changing the code as follows seems to resolve the problem:

[code]

[2016-04-26 12:38] janezd opened #1215 "Confusion matrix settings"
Confusion matrix must keep settings (e.g. classifier selection) after receiving new data.

Misclassified etc. must be checkable and stay pressed for as long as misclassified instances are selected. This is also kept after new data arrives.

[2016-05-03 08:21] jamartinh commented on #991
Hi, the Discretize widget still gives tons of error. For example, assertion errors on cut_off

It also seems to have troubles with the Domain, it does not refresh the Domain correctly, and remember input variables that are not actually in the Table.

[2016-05-03 08:36] swayblue opened #1221 "orange 3.3.3(win) has a bug when run orange-text (1.10) to create wordlcloud"
##### Orange version

orange 3.3.2 window  release
orange-text 0.1.10

##### Expected bahavior
when run orange-text to create wordcloud

##### Actual behavior
when run the has error ,"AttributeError: 'module' object has no attribute 'TableWidget"

##### Steps to reproduce the behavior
1.insert sample text
2.choose icon wordcloud to creat cloud
3.then the error come

##### Additional info (workshee

[2016-05-03 08:47] ajdapretnar commented on #991
@jamartinh Huh, I'm having a hard time reproducing this. I tested Discretize with iris.tab, wine.tab, housing.tab and three Google Sheets data sets with and without NaNs. Everything works fine for me.
Also I'm not experiencing any problems with the Domain when changing data sets.
Could you send an .ows to reproduce the error?

[2016-05-03 08:49] ajdapretnar commented on #1221
@swayblue Thank you for reporting this. I'm having an issue just with placing the Wordcould widget onto canvas.
Big thanks for additional info, will fix this asap!

[2016-05-03 09:11] ajdapretnar commented on #1221
@swayblue Update: there's a PR waiting to be merged already, so you can expect the fix soon.

[2016-05-03 09:53] astaric commented on #1190
We had to revert the commit that installs the desktop file, because the installation procedure is not compatible with wheel packages (which are a preferred). The desktop file and an icon are still present in the repository and can be used with distribution specific installers (i.e. aur package) if someone decides to write one.

[2016-05-03 11:19] kernc commented on #1221
Closed as duplicate of https://github.com/biolab/orange3/pull/1217.

@swayblue Thanks. If you need an urgent workaround, please try [version 3.3.1](https://github.com/biolab/orange3/tags).

[2016-05-03 11:19] #1221 closed

[2016-05-03 11:35] bishnu-zwayam opened #1222 "Is there any webservice to get the OrangeHRM functionalities ?? So that I can use it in my java program."
##### Orange version

##### Expected bahavior

##### Actual behavior

##### Steps to reproduce the behavior

##### Additional info (worksheets, data, screenshots, ...)

[2016-05-03 11:50] kernc commented on #1222
Sorry, this is not OrangeHRM. Their website, including the issue tracker, is [on SourceForge](https://sourceforge.net/projects/orangehrm/).
They also offer a [trial](https://www.orangehrm.com/orangehrm_hrms_hris_free_trial.php) on their hosted solution. You can deploy the open-source distribution to any supporting PHP hosting, including [free ones](https://www.google.si/search?q=free+php+hosting).

[2016-05-03 11:50] #1222 closed

[2016-05-03 11:57] rahulroxx commented on #1195
I might need assistance on this .

[2016-05-03 12:57] ales-erjavec commented on #1221
Note that the Orange 3.3.1 installer can be downloaded from http://orange.biolab.si/download/files/Orange3-3.3.1.dev0%2b5d39ea2.win32-py3.4-install.exe

[2016-05-10 07:59] ajdapretnar commented on #1195
@rahulroxx You can submit a PR with [WIP] tag in front and then we can all comment and give suggestions. Or just ask away here. :)

[2016-05-10 08:09] #1084 closed

[2016-05-10 08:13] ajdapretnar commented on #1036
@gcatalfamo Could you please check if #1196 works and close the issue, if it does? Thanks!

[2016-05-10 08:14] ajdapretnar commented on #1007
@ilanschnell Fix #1006 is supposed to fix this. Does it work for you?

[2016-05-10 08:22] ajdapretnar commented on #1048
Fixed with PR #1230. Closing the issue. Thank you everyone for trying to solve it and sorry for making it so complicated. :smile:

[2016-05-10 08:22] #1048 closed

[2016-05-10 08:29] ajdapretnar commented on #1184
@brylie How's it going with the widget development? If there's something we need to improve in the documentation (and I'm sure there is), I'd be glad to hear it. Any contribution to a better documentation is highly appreciated. :star:

[2016-05-10 08:41] brylie commented on #1184
@ajdapretnar thanks for following up. I will keep working on a simple widget for now, perhaps an OpenML authentication widget that has text field(s) for authentication details. The authentication details can then be passed into other OpenML related widgets.

[2016-05-10 08:43] brylie commented on #1184
As an aside, there is a related ML project called [TPOT](http://rhiever.github.io/tpot/). In the TPOT repository, there are two ideas related to TPOT + Orange integration:

- https://github.com/rhiever/tpot/issues/51
- https://github.com/rhiever/tpot/issues/137

[2016-05-10 08:50] ajdapretnar commented on #1184
@brylie Sounds great! When you have a PR ready, submit it and our folks here will review it. We really appreciate all the enhancements to Orange. :heart: Once you're done with the widget, you are very welcome to write a guest blog for us on how the development went and how the widget can be used for OpenML tasks.

[2016-05-10 08:59] ajdapretnar commented on #1088
@kumargaurav2596 Is the fix perhaps ready? If you need any help, feel free to ask.

[2016-05-10 10:35] #1036 closed

[2016-05-11 10:16] wibrt opened #1243 "Big Feature request: bayesian belief networks"
Not present in orange at the moment,
but it would be a nice feature:
https://en.wikipedia.org/wiki/Bayesian_network
for example http://netica.org/

[2016-05-13 08:49] ajdapretnar commented on #1215
Probably already done in #1216? :)

[2016-05-13 08:52] astaric commented on #1215
You are correct.

[2016-05-13 08:52] #1215 closed

[2016-05-13 08:52] ajdapretnar commented on #1007
Closing the issue since the fix seems to be implemented already. @ilanschnell If the problem persists, please open a new issue.

[2016-05-13 08:52] #1007 closed

[2016-05-13 08:54] ajdapretnar commented on #68
@kernc Can we close the issue since implementing Pandas dataframe is our GSoC project? Or we do it after the project is done?

[2016-05-13 09:06] kernc commented on #68
Is the issue fixed? :smile_cat:

[2016-05-13 09:39] ajdapretnar commented on #68
It's a feature request, not an issue per se. Thus yes, feature request is accepted and is in the process of implementation.
Also see this: https://github.com/biolab/orange3/pull/796

[2016-05-13 12:22] #1082 closed

[2016-05-13 14:48] ajdapretnar opened #1256 "Feature request: re-haul Heat map visualization"
Writing this as a sum up of a longer feature request from a user.
1. Extend the choice for color scale. E.g. the user would like to define the color for the lowest, highest and zero value separately.
2. Enable fine-adjusting the color scale (i.e. color 'slope').
3. Implement search (for a variable) and display the result it in the visualization. Also enable column selection that could be used as a

[2016-05-17 07:58] yogithite opened #1261 "Installation stuck at 'Installing required packages'"
Installing Orange with latest installer: Orange3-3.3.3.win32-py3.4-install.exe
Download latest installer (Windows Build - 2016-05-17)
Run executable as Admin

##### Expected behavior
 Orange should install

##### Actual behavior

Installer stuck retrying as below. Links in requirements.txt work independently. Installation stuck at 'Installing required packages'

Collecting scikit-learn==0.16.1 (fr

[2016-05-18 08:16] brylie commented on #1184
I will open an issue to track the "OpenML Authentication" widget development.

[2016-05-18 08:19] brylie opened #1264 "OpenML authentication widget"
In order to integrate with the OpenML platform, it may be useful to provide an "OpenML Authentication" module.

The basic idea, for your early feedback, is for the OpenML authentication module to show text input fields for credentials. Once a user has input the credentials, and clicked "authenticate" if necessary, the widget will pass the OpenML authentication object as an output, for other OpenML

[2016-05-18 08:21] brylie commented on #1184
I renamed this issue to indicate that it is a high-level issue. I updated the issue description with a link to the first sup-task: #1264 OpenML Authentication widget

[2016-05-18 08:25] brylie opened #1265 "OpenML Data Set widget"
# User story

[code]
# Feature

Add a widget that allows an end-user to select a [data set from OpenML.org](http://www.openml.org/search?type=data&from=200). The widget should output the selected dataset into an Orange canvas data-flow, perhaps as an `Orange.data.Table`.

[2016-05-18 08:30] brylie commented on #1264
The first challenge here appears to be that OpennML expects the authentication details to be stored in a text file:

[2016-05-18 08:33] brylie commented on #1264
After a bit of [further reading](https://openml.github.io/openml-python/usage.html#usage), I found an example of how to use the API key from code:

[code]

[2016-05-18 08:43] brylie commented on #1264
Another challenge relates to installing the OpenML library. There does not appear to be a *pip* module. Rather, the package requires [manual installation](https://openml.github.io/openml-python/index.html#installation).

How can I include the OpenML package, so that I can `import APIConnector` from within the Orange module? Should I include the output of the `setup.py install` process within the m

[2016-05-18 08:57] ajdapretnar commented on #1264
@brylie I think it's brilliant that you're tackling this. I'm sure it will help many other people with their learning. However, it might be a good idea to move the entire widget to Orange3-Prototypes [https://github.com/biolab/orange3-prototypes], since this repo is intended particularly for prototype widgets.

[2016-05-18 09:39] astaric commented on #1264
External dependencies can be specified using dependency_links option in setup.py (like this: https://github.com/astaric/orange3-prototypes/pull/1/commits/0395d4ebbe56f00cc3e78975bf715124ba322950).

This installed non-pypi dependencies when package is installed using `python setup.py install`. When packages is installed with pip, one has to pass --process-dependency-links flag to pip to allow insta

[2016-05-18 10:58] wibrt opened #1267 "Feature request: cutoff/threshold value for classification"
When using classification usually a p-value is calculated to determine
the class of the target, by default orange uses 0.5 as cutoff or
threshold value if u like. Depending the on this cutoff value the model performs differently.
- It would be nice to obtain these cutoff value(s) (eg as output) from a widget like roc analyis or lift
- Also it would be nice to be able to change the cutoff value
  *

[2016-05-18 11:10] janezd commented on #1267
Like the Calibration plot
![screen shot 2016-05-18 at 13 08 16](https://cloud.githubusercontent.com/assets/2387315/15356564/cd16f276-1cf9-11e6-8bbe-5f4121fa6af8.png)
and Calibrated classifier
![screen shot 2016-05-18 at 13 09 17](https://cloud.githubusercontent.com/assets/2387315/15356572/d2a5386a-1cf9-11e6-9c49-fc24d2cc09bf.png)
from Orange 2?

[2016-05-18 11:44] wibrt commented on #1267
indeed a good option for optimizing CA: calibrated classifier widget,
but it actually depends on the performance metric you want to optimize,
hence the reference to test an score

[2016-05-18 11:56] kernc commented on #1264
Why not move the widget into a standalone [Orange3-OpenML **add-on**](
https://github.com/biolab/orange3-example-addon)?? Surely other related widgets will follow this one?

[2016-05-19 07:49] #1261 closed

[2016-05-20 13:50] zidarsk8 commented on #1156
@kernc Preventing `keyPressEvent()` works great for me. But I'm not sure if you guys want this in the `OWWidget` or not. If you want this I can make a PR with the code below, or you guys can add that. Or if you don't think this is needed, feel free to close this issue.

[code]

[2016-05-22 12:45] jonmillard opened #1275 "Missing methods in Orange.data.Table class"
##### Orange version
3.3.4

##### Expected bahavior
Converting an object of type Orange.data.Table using to_numpy method is successful

##### Actual behavior
Converting an object of type Orange.data.Table using to_numpy method results in error message indicating that this method is not implemented.

##### Steps to reproduce the behavior

------------------------------------------------------------

[2016-05-23 08:22] astaric commented on #1275
Orange3 stores data in numpy format, so the conversion is no longer needed. You can use table.X, table.Y and table.metas to access attribute, class values and meta data accordingly.

[2016-05-25 09:39] bhaveshoswal opened #1280 "Not Importing the Orange.multilabel.MLkNNLearner"
##### Orange version
3.3.4.dev0+b34afd8

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'module' object has no attribute 'multilabel'

##### Now what to do please Help and Thank-you

[2016-05-25 10:01] ajdapretnar commented on #1280
The example is from the documentation for Orange 2. Please refer to the documentation for Orange 3: http://docs.orange.biolab.si/3/data-mining-library/reference/classification.html#k-nearest-neighbors

All the documentation can be found here:
http://docs.orange.biolab.si/3/data-mining-library/

[2016-05-25 10:19] bhaveshoswal commented on #1280
Yes that's write actually i wanted the ML-kNN implementation for Multi Label Classification and that is in Orange 2.7.8 and not in Orange 3.x.x

[2016-05-25 10:22] cheral opened #1281 "Error Opening the Classification Tree Tutorial"
##### Orange version

Version 3.3.dev0+1997632
##### Expected bahavior
The Classification Tutorial should open without any error

##### Actual behavior
But it gives a `ValueError` that says `Tree is not a valid output name for classification tree`
The link from Classification Tree to Classification Tree Viewer is not being loaded, you can join it later though

##### Steps to reproduce the behavior

[2016-05-27 11:43] rokgomiscek opened #1284 "Missing "&" from Test & Score name in Expanded Tool Dock"
![test score](https://cloud.githubusercontent.com/assets/3206671/15607147/f8206484-2410-11e6-89f2-24a5d69ab395.png)

[2016-05-28 15:22] RokSkyWatcher opened #1286 "No widgets"
##### Orange version
Version: 3.3.1.dev0+5d39ea2

##### Expected bahavior

Widgtes should load with no problem

##### Actual behavior

There's no widgets for Visualize, Classify, Regression,...

##### Steps to reproduce the behavior

Python3 -m Orange.canvas
Open Orange

##### Additional info (worksheets, data, screenshots, ...)

![issue](https://cloud.githubusercontent.com/assets/13365700/1562809

[2016-05-28 20:29] kernc commented on #1143
Should be fixed now. Thanks again!

[2016-05-28 20:29] #1143 closed

[2016-05-28 20:33] kernc commented on #1286
Can you please try again with [the latest version](http://orange.biolab.si/download/windows/)?

[2016-05-28 21:42] RokSkyWatcher commented on #1286
I tried that many times, no luck

[2016-05-28 22:10] kernc commented on #1286
Was just asking because you stated the version as 3.3.1.dev0+5d39ea2, and this version is from about two months ago.

If you run as `python -m Orange.canvas --log-level 4`, what errors do you get? Did the Python distribution come with Orange or did you have it before? Is it a 64-bit Python?

[2016-05-29 10:04] RokSkyWatcher commented on #1286
[OrangeLog.txt](https://github.com/biolab/orange3/files/288275/OrangeLog.txt)

This is my output. I've noticed lots of these kind of erros:
ImportError: cannot import name 'moduleTNC'
Could not import 'Orange.widgets.data.owdatasampler'.

[2016-05-29 12:05] kernc commented on #1286
Leaving Textable errors aside (Textable hasn't been ported to Orange 3, fwik), it appears something is wrong with your SciPy installation. Can you try to reinstall the scipy package? Are you using Anaconda? Does [this](https://github.com/scikit-learn/scikit-learn/issues/4830) help?

[2016-05-29 14:43] RokSkyWatcher commented on #1286
Yes i'm using Anaconda. I reinstall scipy using these two commands:
[code]

But this did't solved my problem. I also installed Orange 2 with Python 2 and it's working, so i guess there must be some problem with my Python 3 libraries? Is it possible that Anaconda effects on these libraries?
Orange 2 works perfectly.

[2016-05-30 07:15] ajdapretnar commented on #1280
@bhaveshoswal Yes, Orange 3 indeed does not yet have all the features of Orange 2. If you need ML-kNN implementation, I suggest you to use Orange 2. Can I consider the issue closed?

[2016-05-30 07:29] bhaveshoswal commented on #1280
thanks

[2016-05-30 07:29] #1280 closed

[2016-05-30 13:03] #1281 closed

[2016-05-30 13:54] kernc commented on #1280
Scikit does support multitarget in its kNN implementation. We might want to consider wrapping scikit stuff more transparently.

[2016-05-31 04:30] jaeho-kang opened #1290 "multiple langguage support?"
##### Orange version

3.3.3

##### Expected bahavior

##### Actual behavior

##### Steps to reproduce the behavior

##### Additional info (worksheets, data, screenshots, ...)
thank you
for develop to orange
i wanna to make multiple language support
ie. korean, chinese, japaness
does anyone interest it?

[2016-05-31 09:18] ajdapretnar commented on #1290
@jaeho-kang We've had a version for Japanese a while ago, but the problem here is someone needs to maintain the translation. We're continuously making changes to the software, so a translation can quickly become obsolete. If you're willing to put in all the effort of maintaining the translation, then sure, go at it. But first I would suggest you to translate the user documentation as this would pr

[2016-06-01 15:40] mstrazar opened #1297 "Discrete attributes with a large number of values"
##### Orange version

3.3.5
##### Expected behavior

The file contains Discrete attributes with a large number of values.
##### Actual behavior

Orange fills up memory. This issue might be relevant for Recommendation system add-on, which would require such functionality (Discrete attributes with a large number of values.)
##### Steps to reproduce the behavior

Load the data file below.
##### Addit

[2016-06-02 14:01] kernc commented on #1297
Even after some 10 minutes, Orange.data.Table didn't complete loading the file as it ValueErrored with "Non-continuous value" in line 53058, column 17 (—we don't treat "null" as nan).

On a very positive note, pandas loads it in under 6 seconds, and the dataframe is a joy to work with afterwords.

[2016-06-02 14:52] kernc commented on #1297
I'd suggest ensuring the algorithms work primarily with primitive data structures, like numpy (and scipy.sparse) arrays.

[2016-06-03 05:48] sirjamesgray opened #1301 "Selection of multiple objects (nodes, annotations, arrows) is not always visible"
##### Orange version

3.3.5

##### Expected bahavior

cmd + click to select multiple objects should highlight each object

##### Actual behavior

when selecting certain objects, (especially multiple arrows and textboxes) objects often appear "unselected" but when moving the objects they are apparently selected.

##### Steps to reproduce the behavior

try selecting multiple objects (nodes, textboxe

[2016-06-03 06:01] sirjamesgray opened #1302 "Warning message is truncated"
##### Orange version

3.3.5

##### Expected bahavior

expected to be able to:
1. expand size of window by grabbing corner
2. click the warning message to expand into more lines
3. on cursor hover, scroll horizontally with two fingers to scroll the message

##### Actual behavior

1. the window is a fixed size; cannot be adjusted
2. clicking the warning does nothing
3. that didn't work either

#####

[2016-06-03 06:12] sirjamesgray opened #1303 "Can't "pinch to zoom" in main view"
##### Orange version

##### Expected bahavior

in the main view (is it called the "classification tree"?) I was hoping I could zoom in / out by using "pinch to zoom" gesture on OS X
##### Actual behavior

"pinch" gesture does not affect the viewer
##### Steps to reproduce the behavior

try to "pinch to zoom" in the main window
##### Additional info (worksheets, data, screenshots, ...)

[2016-06-03 06:36] astaric commented on #1301
I am not sure to which part of the program are you referring as main view. In canvas (workflow editor), I can select (and unselect) multiple widgets using the CMD click.

[2016-06-03 06:39] sirjamesgray commented on #1301
@astaric to clarify:

I cannot select multiple "text" or "arrow" objects with cmd + click.

I'll edit the issue comment to clarify.

[2016-06-03 06:45] astaric commented on #1301
Can you try cmd clicking multiple arrows and then move one of them. When I try to do this, all of the selected arrows move.

[2016-06-03 07:21] BlazZupan commented on #1040
A data set browser is coming. A special widget that will also contain data set description and link to original web page with distribution. This will take a while (few months) since it depends on moving serverfiles functionality from bioinformatics add-on to core distribution.

[2016-06-03 07:25] cheral opened #1304 "Time Series Analysis in Orange"
I am interested to create widgets for Time Series Analysis Algorithms like ARIMA, Holt Winters , etc. and Visualizations for Time Series, if Required.
Under which category should I include them?
Has any work been done on this before in orange 3 or 2.7 ?
Or  does orange have basic support for time series?

[2016-06-03 07:34] #1290 closed

[2016-06-03 08:04] kernc commented on #1304
There is already a Time Series add-on for Orange 3 in final stages of production and should be published very soon. Will ping here once it is.

![screenshot - 06022016 - 06 52 08 pm](https://cloud.githubusercontent.com/assets/684364/15772580/27cc84fe-2972-11e6-8021-cc9af8a3741f.png)

[2016-06-03 08:04] #1304 closed

[2016-06-03 08:06] kernc commented on #1040
@BlazZupan is anyone already working on this?

[2016-06-03 08:10] kernc commented on #1303
Does "pinch to zoom" internally translate into scroll wheel events?

[2016-06-03 13:07] #1301 closed

[2016-06-07 09:32] rok-povsic opened #1316 "When selecting multiple rows in Data Table, Image Viewer crashes"
##### Orange version
3.3.6.dev0+ab40d8

##### OS
Ubuntu 16.04 64bit, kernel 4.4.8-040408

##### Expected behavior
Displaying multiple images in Image Viewer widget.

##### Actual behavior
Error window is displayed with an error. No images are displayed.

##### Steps to reproduce the behavior
Schema:
File -> Data Table -> Image Viewer

Data Table contains one column with absolute paths to images on

[2016-06-08 22:15] sroedder opened #1323 "No data input"
##### Orange version **3.3**

##### Expected behavior send data from input file to widgets

##### Actual behavior  no data from "file" is sent

##### Steps to reproduce the behavior

##### Additional info (worksheets, data, screenshots, ...)

[2016-06-09 15:57] #1316 closed

[2016-06-10 10:12] #1087 closed

[2016-06-10 10:18] TDVvDlunn opened #1327 "Parameter Tuning for SVM/Trees/..."
I'm missing some parameter tuning widget because there is no way to get best performance out of the dataset without parameter tuning.
### Example for SVM Classification

I would expect a widget where the user can set the stepsize (linear and exponential) and the range for the parameter C and gamma.

This widget would act like this pseudocode which is quite friendly for multicore implementations

[

[2016-06-10 11:26] cheral opened #1329 "Creating graphs with subplots"
Can we have a way to visualize multiple graphs in a single gui like the subplot(x,y,z) function in Matlab?

![creategraphwithsubplotsexample_01](https://cloud.githubusercontent.com/assets/9462412/15962904/d30281e8-2f2b-11e6-8684-48e2261e0998.png)

[2016-06-13 11:11] kernc commented on #1329
This is a great idea that already came up and could be useful with many different plots.
![grid of scatter plots example](http://www.statistics4u.info/fundstat_eng/img/scatterplot_4x4.png)

Unfortunately, no one is working on this yet and there were no discussions. Given how this can be useful with multiple plot types, I'd say a new Visualization Grid (or appropriate) widget should be made to acce

[2016-06-13 11:24] kernc commented on #1327
Great idea! Something like GridSearchCV in sklearn.

We can idealize it most general and have this new widget accept any parameterizable learner.

@astaric, since @s-alexey's django forms didn't come to be, how about something like more lightweight function annotations:
[code]

[2016-06-13 11:38] astaric commented on #1327
As long as they are compatible with [PEP484](https://www.python.org/dev/peps/pep-0484/), I do not see a problem.

[2016-06-14 03:46] cheral commented on #1329
Yes I can. Can you tell me where to start from ? Any existing widgets I should look ?

[2016-06-14 14:16] kernc commented on #1329
We don't have anything like that yet. Perhaps the most important aspect is that the grid should support many types of visualizations (e.g. accept Visualizer input, which can be a Scatter Plot,  Box Plot, Distributions, ...).

With this in mind, the important questions are:
* How many logical axes the grid of a particular visualizer supports? (E.g. Scatter Plot may have two axes like in the image a

[2016-06-15 09:02] ajdapretnar commented on #1323
@sroedder Could you provide any additional info on the problem?

[2016-06-15 09:06] ajdapretnar commented on #1286
@RokSkyWatcher Have you installed Orange2 after you've installed Orange3? It is fairly impossible to keep both versions running normally because of the Python path in Environment Variables. Please check your PATH and if Python2 is listed first, then this is the likely issue.

For running Orange3, you must type:
[code]

I hope this helps.

[2016-06-15 21:06] Pelonza opened #1341 "[Feature/Documentation Request]: Workflow -> Python Script option?"
##### Orange version

3.3
##### Expected behavior

The ability to convert a widget/gui workflow directly to an equivalent Python Script file. Even if it's ugly.
##### Actual behavior

As it seems right now, Orange supports either the GUI workflows OR directly using/writing python scripts that access the orange data-mining suite.

OR... if this is possible... it doesn't seem to be documented clearl

[2016-06-15 21:50] kernc commented on #1341
That's a great idea, thanks for bringing it up. We've had it blueprinted for this year's GSoC, but in the end it didn't make it on the short list. It is definitely something we consider.

[2016-06-15 22:15] Pelonza commented on #1341
So... if this is something you've got penciled in/outlined...

I've got a summer research student of my own who's familiar with Python. I
definitely don't want to set him an impossible task, but if it could have
fit under a GSoC project, it's possibly something I could ask him to
consider also. If you are willing to share the specifications/blueprint I
can talk with him about it.

As I said in the

[2016-06-17 13:36] #1284 closed

[2016-06-18 01:53] klonuo opened #1350 "TABLESAMPLE clause can only be applied to tables and materialized views"
Trying auto-discover variables on a sample from large view (SQL Table dialog), raises:

Could there be a workaround for sampling a view?

I'm using latest Orange 3.3. on Windows

[2016-06-18 03:10] klonuo opened #1351 "psycopg2.DataError: invalid input syntax for type timestamp: """
This happens anytime I add date field in "Select Rows" condition. So it seems like a bad flow, as it happens just by selecting datetime variable, w/o selecting operator and value. After this exception I can select operator and add a value to get filtered data that seem fine.

[code]

Using latest Orange 3.3

[2016-06-18 15:06] kernc commented on #1341
We seem to have an interest in common. :smiley:

I sent you an email with the outline, but any implementation details, if the project is decided upon, should probably be discussed here for others to scrutinize as well.

[2016-06-20 07:44] ajdapretnar commented on #1323
@sroedder Closing for inability to reproduce and lack of info. If the problem persists, please open another issue or write us directly to solve it.

[2016-06-20 07:44] #1323 closed

[2016-06-20 07:45] ajdapretnar commented on #1286
@RokSkyWatcher Have you managed to solve the problem?

[2016-06-20 19:41] Pelonza opened #1359 "Installing Issue: Previous Python Installs?"
##### Orange version

Latest (3.3)

##### Expected bahavior

When running the combined installer, detect an installed version of Python 3.4/3.5 and skip that, OR ask users, OR overwrite environmental variables.

##### Actual behavior

The python installer errors out if Python Environmental Variables are already set, because the installer does not call specific test location (it couldn't get the po

[2016-06-21 07:01] Kronecker82 commented on #1286
I have the same issue too. I have a fresh Anaconda installation (Anaconda3-4.0.0-Windows-x86_64)
I ran `python -m Orange.canvas --log-level 4` and get:

[code]

[2016-06-21 07:05] Kronecker82 commented on #1286
I can view the widgets now with `pip install orange` but I don't know if evrething is fixed at the moment

[2016-06-21 12:48] lanzagar commented on #1351
Thank you for reporting this. Currently date fields are mapped to python StringVariable and the default value for that is '' (empty string), but date columns in the database cannot be compared to that.

Orange has received a TimeVariable type recently, which would be the right mapping - so this should be handled much better (and without the error) quite soon.
Until then, you can avoid the annoying

[2016-06-21 19:12] RokSkyWatcher commented on #1286
@ajdapretnar i tried, it works. Many thanks for this solution

[2016-06-22 07:12] ajdapretnar opened #1365 "Add-ons window raises an error"
Urgent: When one opens Options - Add-ons, one gets an error instead of a list of add-ons. I get a ProtocolError, while someone else also got AttributeError.

![clgins_wiaamxr7](https://cloud.githubusercontent.com/assets/12524972/16257512/555a2ea8-3859-11e6-8cfe-69d2a5b274b9.jpg)

[2016-06-22 07:30] ajdapretnar commented on #1047
Fixed via #1353.

[2016-06-22 07:30] #1047 closed

[2016-06-22 07:32] #1286 closed

[2016-06-22 07:40] ajdapretnar commented on #1077
Fixed via #1309.

[2016-06-22 07:40] #1077 closed

[2016-06-22 08:22] astaric commented on #1365
Does the error occur on master branch? It should have been fixed in #1343

[2016-06-22 08:42] ajdapretnar commented on #1365
Ah, no. Du bist recht. I never check add-ons from master, because it causes a mess. Closing the issue.

[2016-06-22 08:42] #1365 closed

[2016-06-22 20:21] Pelonza commented on #1341
I got permission from my department chair to go ahead and have my summer student work on this project. So it's a go for the rest of the summer/fall depending on speed/progress. I'm meeting with him this afternoon (soon) to talk over the outline you sent me.

[2016-06-23 06:46] astaric commented on #1350
@lanzagar One option would be to just use the first 1000 rows from the view. This will not work if the view is complicated (takes a long time to return first 1000 rows).
Another thing I am not certain of is whether we should use the fallback everywhere sampling is used for tables, or just for the guessing of domain.

[2016-06-23 15:28] rmianalytics opened #1369 "Problems loading Corpus in Text Mining on Orange 3.3.5"
##### Orange version

Orange 3.3.5, git revision f97240f, using Anaconda navigator (Orange app v1.0).

##### Expected behavior
To be able to load a corpus of text files.

##### Actual behavior
Gives error message "from_file() takes 2 positional arguments but 3 were given"  and does not load. Even when trying with test datasets the issue continues. I believe the issue is only related to the Corpus

[2016-06-23 15:31] rmianalytics opened #1370 "Problems creating a Word Cloud in Orange 3.3.5"
##### Orange version

Orange 3.3.5, git revision f97240f, using Anaconda Navigator (orange app 1.0)

##### Expected behavior
Create a Wordcloud using the files already processed

##### Actual behavior
Gives an error message (reproduced below) and can not create the word could.

##### Steps to reproduce the behavior
Just try to create a wordcloud and the issue appears.

##### Additional info (works

[2016-06-23 15:52] nikicc commented on #1369
@rmianalytics thanks for reporting this! This bug was already fixed a while ago but didn't yet made a new release. I everything goes well we should release a new version tomorrow.

Since you said you are happy with a quick and dirty fix you can do the following. In file `corpus.py` find method `from_file`. In this method find a line:

[code]

and delete the `wrapper` argument. So this line should

[2016-06-23 15:53] kernc commented on #1370
This widget is part of text mining add-on which has its issue tracker here: https://github.com/biolab/orange3-text/

As for the solution to your issue, please update the Orange3-Text add-on (via Options > Add-ons) and try again.

[2016-06-23 16:00] nikicc commented on #1370
@kernc updating the Orange3-Text will not solve the problems since we did not make a release after accepting the bugfix.

@rmianalytics again, this has already been fixed but is not yet released. You have three options. You can:

- wait till tomorrow for a new version of Orange3-Text,
- install Orange3-Text from the latest master on github,
- or manually apply [the fix](https://github.com/biolab/o

[2016-06-23 19:14] rmianalytics commented on #1369
Many thanks! Will try it tonight, otherwise will wait for the new release tomorrow.

By the way, is there a possibility of implementing – as a counterpoint to LDA – a method like SVD for Topic extraction?

Kindest regards,

Rodrigo

From: nikicc [mailto:notifications@github.com]
Sent: 23 June 2016 12:52
To: biolab/orange3
Cc: rmianalytics; Mention
Subject: Re: [biolab/orange3] Problems loading Cor

[2016-06-23 20:28] nikicc commented on #1369
This would be nice so maybe in the future. Currently we have no plans for it in near future. If you would like to work on it we are happy to help and guide you.

[2016-06-23 20:33] janezd commented on #854
I can reproduce this bug if I load the schema attached to the report. If I instead construct this exact same schema myself, I get no error.

Also, if I load the schema and the re-select the same attributes in Mosaic, the Mosaic shows without an error. If I then save schema and load it again, it gives no errors.

I assume the schema contains corrupt context settings. I see no way of reproducing the

[2016-06-24 08:22] #1050 closed

[2016-06-24 08:28] ajdapretnar commented on #854
@janezd Agree. I get no issue as well with that exact data set. Since we can't reproduce (and a lot of fixes have already been done since), I'm closing the issue.
If the problem remains, @ypanagis you can open another issue.

[2016-06-24 08:28] #854 closed

[2016-06-24 08:30] ajdapretnar commented on #991
@jamartinh Please send the workflow, since I can't reproduce any of this. Alternatively, I can close the issue.

[2016-06-24 08:31] ajdapretnar commented on #1370
I'm closing this since:
a) it is an Orange3-Text issue
b) possible solutions are listed above
@rmianalytics Thank you for reporting this, though!

[2016-06-24 08:31] #1370 closed

[2016-06-24 08:33] ajdapretnar commented on #1369
Closing the issue for the same reasons as in #1370.

@rmianalytics If you'd care to give us a hand in creating a SVD widget for Text Mining add-on, we're more than welcome to guide you. Please, send a PR to [Orange3-Text](https://github.com/biolab/orange3-text) and we'll give it a look. :smile:

[2016-06-24 08:33] #1369 closed

[2016-06-26 19:13] nikicc commented on #1370
@rmianalytics we just released a new version (0.1.11) of Orange3-Text addon so after a few hours it should be available on pip. Also, make sure you have the latest version of Orange (3.3.6).

[2016-06-29 13:55] titaniumtroop opened #1388 "sample_time requires installation of extension in orange3/Orange/data/sql/table.py"
##### Orange version

3.3.5

##### Expected behavior

Sampling of large table for attribute discovery
![screen shot 2016-06-29 at 08 48 43](https://cloud.githubusercontent.com/assets/13068310/16454569/ddc2554a-3dd6-11e6-9c52-6bce59226f44.png)

##### Actual behavior

Error that method system_time doesn't exist

##### Steps to reproduce the behavior

Connect to postgres database, Answer "Yes, on a s

[2016-06-30 13:32] ajdapretnar commented on #1388
@lanzagar Could you please check? :rose:

[2016-06-30 13:48] lanzagar commented on #1388
Nothing to check really, this is not unexpected behaviour, but how it works for now.
Having the extension is a requirement for using (larger) SQL data.
We could try and create the extension automatically, but it will still work only in some cases. The extension might not be available on the server at all (needs to be installed first), or the user could have only read and no write permissions.

But

[2016-07-01 15:33] #1388 closed

[2016-07-06 03:27] Ameobea commented on #1341
Hi, I'm the research student assigned to work on this task.  I just wanted to show my current progress and make myself open to input and suggestions.  However, after some initial review by @kernc, it seems that what I have done so far isn't quite in line with the overall vision for this project so it's likely that most or all of the code generation will have to be re-written to meet the new model.

[2016-07-06 10:21] brylie opened #1418 "Icons and buttons not visible after installing Orange 3.3.7 on Ubuntu 16.04 with Anaconda 3.x"
After installing Orange 3.3.7 on Ubuntu 16.04, the user interface icons and buttons fail to render correctly.

## Orange version
Orange 3.3.7

## Expected bahavior
Icons and buttons would render.

## Actual behavior
Icons and buttons do not render

## Steps to reproduce the behavior
On Ubuntu 16.04 with Anaconda distribution 3.x

1. follow [installation instructions](http://orange.biolab.si/downlo

[2016-07-06 10:21] brylie commented on #1418
Original issue was in wrong repository: https://github.com/biolab/orange/issues/46

[2016-07-06 10:57] ales-erjavec commented on #1418
This is probably the same problem as: https://stackoverflow.com/questions/34629635/orange-canvas-does-not-show-any-icon/ but manifested on Linux.

Are you using Anaconda provided PyQt4? If so are you running anaconda python in the root or newly created conda environment?

Can you please run the following in bash shell with the correct python on $PATH

[code]

[2016-07-06 11:07] brylie commented on #1418
[code]

[2016-07-06 11:07] brylie commented on #1418
I installed Anaconda in my home directory, as a normal user.

[2016-07-06 11:12] brylie commented on #1418
There is an upstream issue related to the missing SVG format:

 https://github.com/ContinuumIO/anaconda-issues/issues/131

[2016-07-06 11:16] brylie commented on #1418
I added a note to the upstream issue.

[2016-07-06 14:07] Pelonza commented on #1341
Note: This is in response to a separate email where Kernc provided some sample "ideal" code.

So, looking at the two files that Kernc produced and you (Casey) produced, I partially agree with Kernc, but perhaps can point to the what (might) be the actual issue...

Kernc is using the orange data mining library in his script as if it was actually a python script written with the mining library initi

[2016-07-06 14:18] Pelonza commented on #1341
Looking deeper:
If you dive into the actual "table.py" in the full orange library, it has two functions:
orange.data.table.from_file
orange.data.table.from_url

Basically, your "code generator" from the canvas needs to get the attributes from the widget with the file or url path, and then call the appropriate table function with the path. So you can hide the "decision" in your code generator, and

[2016-07-06 14:54] okohll opened #1419 "Web based version"
Hi, not sure this is really an issue so much as an 'epic' but are there any plans for a web based version that one could host sometime in the future? A big job I know but that would be awesome.

[2016-07-06 15:04] ajdapretnar commented on #1418
I had people reporting the same issue for OSX (with Anaconda). Works well on Windows.

[2016-07-07 07:27] brylie commented on #1418
I looked under the anaconda folder in my home directory. I found the following:

- ~/anaconda3/lib/qt4/plugins/iconengines
  - libqsvgicon.so
- ~/anaconda3/lib/qt4/plugins/imageformats
  - libqgif.so
  - libqjpeg.so
  - libqsvg.so
  - libqtiff.so
  - libqico.so
  - libqmng.so
  - libqtga.so

[2016-07-07 07:27] brylie commented on #1418
It seems like the SVG libraries are included as imageformats and iconengines. Is there another folder I should check?

[2016-07-07 07:57] astaric commented on #1418
Whan command do you use to run orange?

`python -m Orange.canvas`?

If so, please check that there is a qt.conf file in the folder with the python executable and that its entries point to the qt install. I am using anaconda 4.1.6 on OSX, which created a correct config file, but I had to move it a bit to see the icons (i had to move it from anaconda/bin to anaconda/python.app/contents/resources).

[2016-07-07 08:13] brylie commented on #1418
I am using `python -m Orange.canvas` e.g. from my home folder. In what folder should I run the command?  I will look for the `qt.conf` file.

[2016-07-07 08:14] brylie commented on #1418
I have three files named `qt.conf`:

- ./anaconda3/pkgs/qt-4.8.7-3/info/recipe/qt.conf
- ./anaconda3/pkgs/qt-4.8.7-3/bin/qt.conf
- ./anaconda3/bin/qt.conf

[2016-07-07 08:16] brylie commented on #1418
I tried running `python -m Orange.canvas` from within the `~/anaconda3/bin/` folder. The icons still do not render.

[2016-07-07 10:11] astaric commented on #1418
I'll try to reproduce it on a Ubuntu 16.04 virtual machine.Can you tell me which version of conda are you using (```conda --version```), so I can make sure I am testing on the same configuration?

[2016-07-07 10:19] brylie commented on #1418
conda 4.1.4

[2016-07-07 11:16] astaric commented on #1418
I have installed conda 4.1.6 into a fresh Unbuntu 16.04 virtual machine. It created ~/anaconda/bin/qt.conf with the following content:
[code]

If I run a slightly modified script ales posted above (I have added one import and the app = ... line):

[code]

[2016-07-07 11:51] brylie commented on #1418
Same here:

[code]

[2016-07-07 11:52] brylie commented on #1418
@astaric, do your icons render?

[2016-07-07 12:10] astaric commented on #1418
They do.

I did not follow the installation guide though, since all the requirements have already been installed by anaconda. What I did after installing anaconda was just

[code]
(I used conda to install all orange3 requirements, but then uninstall the outdated orange3 package, as I will install the latest version in the next step)
[code]
Then I ran
[code]
And got a proper canvas with icons.

[2016-07-07 17:33] kernc commented on #1341
`Table`'s constructor accepts a string and then calls its `from_file()` or `from_url()` (etc.) as appropriate.

[2016-07-07 17:36] Pelonza commented on #1341
Even easier then. Perhaps most of the actual "work" is figuring out what has direct, easily used correspondences in orange's main library.

[2016-07-07 17:37] kernc commented on #1341
Indeed. And widgets, save for the GUI handling/painting/manipulating/... code, mostly do or should do just that.

[2016-07-07 18:37] kernc commented on #1341
For anyone interested, there's some technical discussion also in https://github.com/Ameobea/orange3/issues/7.

[2016-07-08 06:55] ajdapretnar commented on #1419
@okohll This has been on our wish list for a long time, but as you said, it's a big job. Currently our main priority is to assure stability of Orange 3 and introduce industry standards where possible (GSoC's to pandas dataframe project).
It would be **really** cool to have this and yes, perhaps sometime in the future, our common dreams will come true. :stars:

[2016-07-08 07:26] astaric commented on #1418
Ok, I have managed to reproduce the problem, and found a way to fix it :)

Remove the orange3env folder that was created by the installation script. Then install orange3 with:
[code]

And you should have a working orange canvas with icons.

I will update the installation instructions on the website to give specific instructions for anaconda users.

[2016-07-08 07:40] brylie commented on #1418
Yay! thanks @astaric :-)

This hopefully gets us closer to simply having a menu item to click when launching Orange ;-)

[2016-07-08 07:41] brylie commented on #1418
For what it's worth, I was able to 'pin' Orange to my launcher menu after launching it the first time from terminal.

[2016-07-08 07:47] brylie opened #1426 "Automatically create a launcher icon on GNU/Linux?"
Recently, lauhcing Orange on GNU/Linux involved activating a python environment and running a shell command. When installing via Anaconda, the process is easier, but still involves typing a shell command. Even though people might be using GNU/Linux, they may still appreciate launching Orange by clicking an icon.
## Orange version

3.x
## Expected bahavior

A launcher icon for Orange 3 would exist

[2016-07-08 07:48] brylie commented on #1418
I opened a feature request for an application launcher on GNU/Linux (#1426).

[2016-07-08 07:51] brylie commented on #1419
What are some of the tasks involved in the 'web port'? I am a full-time web application developer, so this would be within my comfort zone.

May we please break the 'web port' idea into some practical tasks, and track the tasks via an epic label?

[2016-07-08 09:25] kernc commented on #1419
1. Design a core **pure JS API** and protocols for interaction between (2), (3) and (4), so the whole still works together if any of  (2), (3), (4) or (5) is switched for something else in the future.
2. Re-architecture Orange into a **client-server** application with the **backend** Python server handling user's JS events. The backend architecture should support independent and parallel (multi-co

[2016-07-08 09:46] kernc commented on #1426
We've had this in https://github.com/biolab/orange3/pull/1205, but it was reverted in https://github.com/biolab/orange3/pull/1218 because installing the launcher is responsibility of the distributed installable package (e.g. deb) and not the source distribution's.

Building packages for multiple distributions should probably include some subset of:
* [AppImage](http://appimage.org/) ̉– @acopar any

[2016-07-08 14:30] lanzagar commented on #1351
"quite soon" took a while, but PRs #1424 and #1429 (along with #1430 for similar cases) should fix this.

Please see if it works for you too.

[2016-07-09 00:26] brylie commented on #1419
May we please open tasks fore the above?

[2016-07-09 11:09] kernc commented on #1419
Will anyone be working on them?

[2016-07-11 09:35] astaric commented on #1418
The updated instructions should result in a working canvas, so I am closing this issue.

[2016-07-11 09:35] #1418 closed

[2016-07-12 10:55] astaric opened #1446 "CrossValidation is painfully slow on OSX"
[code]

[2016-07-12 21:20] stuart-cls opened #1450 "[owmergedata] Merge Data widget does not save selected attribute"
##### Orange version
3.3.7.dev0+d6a324e

##### Expected behavior
Merge two datasets by a selected attribute, save `.ows`, load `.ows` file: worksheet remains the same.

##### Actual behavior
Merge two datasets by a selected attribute, save `.ows`, load `.ows` file: Merge Data widget has forgotten the selected merge attribute and all downstream widgets have no data.

##### Steps to reproduce the be

[2016-07-13 07:40] BlazZupan opened #1451 "[ENH] Paint data should store its state when workflow is saved"
##### Orange version:
3.3.6

##### Expected behavior:
When Orange workflow is saved, it should also save the data painted in the Paint Data widget

##### Actual behavior:
If I paint the data using Paint Data widget and save the workflow, the painted data is not saved. That is, when I close Orange and open the saved workflow, Paint Data initializes with the empty data set.

##### Steps to reproduce

[2016-07-13 12:01] #1451 closed

[2016-07-14 11:12] kielhauser opened #1457 "Time series add-on installation fails"
##### Orange version
3.3.6 (git revision ee294bc) on OSX 10.11 and Windows 10

##### Expected behaviour

The time series add-on should install without problems via the Options -> Add-on -> Orange3-Timeseries -> Install

##### Actual behaviour

An error is given (see attached files) both on Windows and OSX

##### Steps to reproduce the behavior

(see expected behaviour)

##### Additional info (work

[2016-07-14 13:06] astaric commented on #1457
Add-on installation issues should be raised on their issue trackers. You can find issue tracker for timeseries add-on here: https://github.com/biolab/orange3-timeseries/issues

[2016-07-14 13:06] #1457 closed

[2016-07-14 13:10] astaric commented on #1161
Add-on installation issues should be raised on their issue trackers.

Orange3-Network addon now provides binary packages for windows on pypi, so it should be able to install without compiler. Orange3-Spark issue tracker is available here: https://github.com/jamartinh/Orange3-Spark/issues

[2016-07-14 13:10] #1161 closed

[2016-07-14 18:23] AILearner opened #1459 "k-means max number of clusters is too small"
##### Orange version
3.3.6

##### Expected behavior
I need a range of 200 to 500 clusters for a large task. Not a baby play toy that only does 30. I'm willing to wait hours/days for it to compute.

##### Actual behavior
k-means has a max of 30 clusters. It wont allow more then that.

##### Steps to reproduce the behavior
Number of clusters "fixed", and "optimized from" max out at 30.

[2016-07-14 18:40] kernc commented on #1459
Would you like to submit a pull request? The relevant code is [here](https://github.com/biolab/orange3/blob/9a0853ee5fc2909ba87670937c831f624075f4ce/Orange/widgets/unsupervised/owkmeans.py#L71-L88).

[2016-07-14 21:10] janezd commented on #1459
Open Orange/widgets/unsupervised/owkmeans.py, find the line `sb, self, "k", minv=2, maxv=30,` (at around line 72) and change 30 to 99999 if you wish. The time needed to converge should not depend much on the number of clusters; I suspect it will run (to the local minimum) even faster.

We wouldn't accept a pull request with this change, though. 30 is a very reasonable upper limit; baby play toy ma

[2016-07-15 11:34] kernc commented on #1446
On the positive side, it's only 14 times slower on Linux. On the negative, there is nothing I can do about it as is. This is multiprocessing core.
![screenshot - 07152016 - 01 29 31 pm](https://cloud.githubusercontent.com/assets/684364/16872924/5be3f7c4-4a90-11e6-8313-06e5b1d647cc.png)
We can use something like:
[code]
?

[2016-07-15 12:10] nikicc commented on #1446
If we decide for such solution we should probably also consider the number of attributes. For text classification, where the number of features can be quite large, we would probably prefer parallel execution even for corpuses with less than 1000 documents.

[2016-07-15 12:45] Pelonza opened #1463 "Naive bayes fails to pass updated name"
##### Orange version

3.3.5

##### Expected bahavior

When two copies of the same classifier algorithm are created on a canvas and are renamed, they pass those names on to "down-the-line" widgets.

##### Actual behavior

Definitely with naive bayes, but I believe we also saw this with SVM.
If you create two "naive bayes" widgets, then rename them on the canvas. Send their outputs to the "test and

[2016-07-15 13:19] kernc commented on #1463
All learner widgets have a name setting one can set.
![screenshot - 07152016 - 03 16 04 pm](https://cloud.githubusercontent.com/assets/684364/16875347/499492f4-4a9f-11e6-9ab6-978da9bb49c6.png)
Could this work for you? I don't think it would be as easy honoring widget's canvas name. Or it would, but which of the two names would have priority? How would this work?

[2016-07-15 17:39] AILearner commented on #1459
Thank you for the responses. I definitely have more then 30, some of the data is similar and needs to be clustered, while the rest of the data is unique and needs to go into its own personal cluster so-to-speak. I ended up running it on H2O with 500 clusters.
Thanks for pointing out the variable in the code though.
I'll look into single-linkage hierarchical clustering, and see if it gives better r

[2016-07-15 17:55] stuart-cls opened #1465 "TimeVariable: repr_val() uses incorrect rounding"
Hi @kernc , in `Orange.data.variable.TimeVariable.repr_val()` , the following line (910)

    microseconds = int(round((val - seconds) * 1e6))

will fail `ValueError: microsecond must be in 0..999999` in the following case:

    val = 1444393718.900992
    seconds =  1444393719
    microseconds = -99008

Thanks

##### Orange version
3.3.6 or master

[2016-07-15 18:32] kernc commented on #1465
That's interesting because if `val` is 1444393718.900992, then [`seconds` should be 14439371**8**](https://github.com/biolab/orange3/blob/7f464a6f81438a1fddb719b41cb9852bf3a6997b/Orange/data/variable.py#L909), and microseconds should be strictly positive. How did you get those values?

[2016-07-15 19:12] stuart-cls commented on #1465
Good point, if I step through the commands from repr_val() in a shell, I also get `seconds = 1444393718`.

I got the values by inserting a `print()` into the repr_val() function.

I can reproduce this in the gui by making a datatable with:

[code]
loading into Orange and then trying to view with a Data Table. Also happens if the third line is not "meta"

[2016-07-15 19:23] kernc commented on #1465
Works for me on master. Indeed, this was [fixed only recently](https://github.com/biolab/orange3/compare/stable...0c05cc1), after the last 3.3.6 release. Thanks.

[2016-07-15 19:23] #1465 closed

[2016-07-15 19:27] stuart-cls commented on #1465
Quite right, I missed that. Thanks.

[2016-07-17 20:44] astaric commented on #1446
What about off-by-default? (The way sklearn does it).

[2016-07-18 06:22] klonuo commented on #1351
Hi @lanzagar, thanks for your replies

I just tested with latest binary (3.3.6 rev.ee294bc), but the issue still remains - I get exact error.

[2016-07-18 07:52] ajdapretnar commented on #1351
@klonuo 3.3.6 rev.ee294bc is only the official release. The fixes haven't yet been released, so I suggest you to check the very latest version from Github in order to see whether this works. If you don't want to mess with Git, you can wait until Friday, when we'll hopefully going to release version 3.3.7.

[2016-07-18 08:00] astaric commented on #1351
Or try the latest nightly build from http://orange.biolab.si/download/files/nightly/

[2016-07-18 17:48] klonuo commented on #1351
Thanks guys :)

I don't mind git and compiling, but I use Python 3.5 (not very big difference but still if it's targeted for 3.4) and installer is very solid from my experience.

Nice to know about nightly builds. However I'll wait for Friday as latest nightly is still to late for those commits referenced.

[2016-07-18 21:18] stuart-cls opened #1469 "Test & Score overwrites Univariate Polynomial Regression learner domain"
##### Orange version
3.3.6

##### Expected behavior
Connect multiple Univariate Polynomial Regression learners (each of which is training on a different attribute, but same target variable) to the Test & Score widget to compare the resulting models.

##### Actual behavior
Test & Score reports the same scores and outputs the same predictions for all the learners.

##### Steps to reproduce the behav

[2016-07-19 07:17] VesnaT commented on #1469
Test & Score widget takes learners (not models) as inputs. Therefore, you can only influence learner properties (i.e. polynomial expansion) by setting Univariate Polynomial Regression widget and not the data for training. The learners are than trained on data, sent to Test & Score widget, so all learners are trained on the same data.

If you want to try UPR for different attributes, you can use Se

[2016-07-19 08:44] #1446 closed

[2016-07-19 09:21] lanzagar commented on #1302
3. on cursor hover you should see the entire message (without scrolling)

[2016-07-19 15:58] mlopezheredia opened #1471 "Strip empty columns in .xlsx files"
Hi,
I am new to orange and I get the error while importing my data. Hope you could help me.
##### Orange version

3.3.6 (on windows 7)
##### Expected bahavior

Dataset has 61 columns and 338 rows. It is read as a XLSX file but not as a CSV file
##### Actual behavior

Gives the error: "Cannot parse dataset libro1.csv: too many indices for array".
##### Steps to reproduce the behavior
##### Addition

[2016-07-19 16:42] kernc commented on #1471
In Orange 3.3.7~dev, I can read this xlsx, either as-is or transformed into CSV, just fine. Can you attach the exact CSV file that fails to load?

[2016-07-20 07:36] mlopezheredia commented on #1471
Here is the file. I tried again and failed either from its location in a file server or from the desktop. Thanks in advance.
[AllData_20160719_pca.zip](https://github.com/biolab/orange3/files/373052/AllData_20160719_pca.zip)

[2016-07-20 07:55] ajdapretnar commented on #1471
@mlopezheredia Your .csv file is a bit 'corrupted'. It has extra blank columns with no headers and this is what's causing the problem. If you import your file in Excel as text, you will see the issue. Once I've copied only the actual data and saved it as a .csv file, the data was loaded.

However, I think Orange should somehow strip empty columns automatically. What do you think, @kernc?

[2016-07-20 07:58] mlopezheredia commented on #1471
@ajdapretnar  Thanks for the information and help. I have not seen them. It would be a good idea to strip empty columns automatically.

[2016-07-20 08:08] mlopezheredia commented on #1471
Removing the extra blank columns with no headers from the .csv file solved the issue. Thanks @ajdapretnar for the tip.

[2016-07-21 15:12] stuart-cls commented on #1469
Hmm, okay. In our use case we are interested in comparing the performance of a few different univariate models on the same data set. Since the relationship is known to be 1st order, we were more interested in the "univariate" part than the "polynomial" part. In the learner case at least, the name "univariate" seems to be misleading, since the Test & Score ends up running a multivariate regression.

[2016-07-21 15:33] kernc commented on #1469
If you're interested in relative feature importances, you can use the Rank widget.
![univarlinreg](https://cloud.githubusercontent.com/assets/684364/17028655/8dd6ee8a-4f68-11e6-8f50-892d75b04afa.png)
The descending importances should correspond with increasing MSE in Test & Score.

[2016-07-21 16:20] stuart-cls commented on #1469
Thank you, that's very helpful.

[2016-07-21 16:20] #1469 closed

[2016-07-22 07:31] markotoplak commented on #1469
@stuart-cls If you would like to compare classifier performance on subsets of features, then yes, the only option is to use multiple Test & score widgets.

[2016-07-28 10:17] ajdapretnar commented on #1459
I am closing this issue since defaults are intentional and the issue seems to be solved.

[2016-07-28 10:17] #1459 closed

[2016-07-28 10:20] ajdapretnar commented on #1463
I am closing this since learners are renamed in the widget itself not from the canvas. If there's an issue with that, you can open another issue.

[2016-07-28 10:20] #1463 closed

[2016-07-28 10:25] ajdapretnar commented on #1359
@astaric @janezd @ales-erjavec Any idea on this one?

[2016-07-28 10:27] ajdapretnar commented on #1350
@lanzagar @astaric Solved, due to be solved or unsolvable? :smile:

[2016-07-28 10:29] ajdapretnar commented on #1351
Closed via #1424, #1429 and #1430.

[2016-07-28 10:29] #1351 closed

[2016-07-28 10:30] ajdapretnar commented on #1297
@mstrazar @kernc Anyone working on this? Waiting for pandas?

[2016-07-28 10:31] ajdapretnar commented on #1275
@astaric Can we close this issue? How will this work with pandas?

[2016-07-28 10:33] ajdapretnar commented on #1264
@brylie How are things with the OpenML project? Are there any PRs we can test? And I agree, a separate add-on is a great idea!

[2016-07-28 10:34] ajdapretnar commented on #1083
Should be fixed via #1481.

[2016-07-28 10:35] ajdapretnar commented on #1156
@kernc @zidarsk8 @ales-erjavec  Fix or close?

[2016-07-28 10:36] ajdapretnar commented on #991
I am closing this since I can't reproduce and it is a very stale issue. If the problem persists, please open a new issue. Tnx!

[2016-07-28 10:36] #991 closed

[2016-07-28 10:37] ajdapretnar commented on #28
@janezd Since we're not doing it for GSoC and since NN are out of scope of Orange as we discussed on several occasions, can we close the isssue?

[2016-07-28 10:38] ajdapretnar commented on #134
@janezd @kernc Is anyone working on this or will anyone be working on this in the next 6 months? If not, I suggest we close the issue.

[2016-07-28 10:39] lanzagar commented on #1350
I started working on this, but it turned into a bigger refactoring process with various changes. Will try to continue with it next week.
But as for this PR - yes TABLESAMPLE can only be used on tables and materialized views, and Orange depends quite a lot on sampling, so I would suggest not using views over large data anyway.

[2016-07-28 10:40] ajdapretnar commented on #1350
Ok, let's wait for the PR from @lanzagar, we'll reference it and close once it's merged. :+1:

[2016-07-28 10:47] ajdapretnar commented on #1099
@kernc Do you agree this is not an issue anymore, it's just a matter of workflow configuration? Can we close this?

[2016-07-28 11:54] janezd commented on #134
AFAIK, no.

[2016-07-28 11:56] janezd commented on #28
Yes, IMHO.

Let issues be about things that need and will be done, not about wishes and plans.

[2016-07-28 12:17] ajdapretnar commented on #28
Agree 100%.

[2016-07-28 12:18] ajdapretnar commented on #134
Closed for the same reason as in #28.

[2016-07-28 12:26] astaric commented on #1275
When we switch to pandas, it will work the same as it works now (you have X, Y and metas to get numpy tables with respective data). As this behaviour is by design, I am closing the issue as wontfix.

[2016-07-28 12:26] #1275 closed

[2016-07-28 13:29] Pelonza commented on #1463
Sorry, I should have responded to Kernc, I thought I had.

Kernc's example would be just fine. This issue isn't with the widgets renaming themselves. You can do that, and it shows up fine. The problem is with the passing to other widgets (as kernc showed in his images).

My priority would be to honor the name typed into the box. I.e. your "Naive Bayes X and Naive Bayes 1" ... but I'm pretty sure t

[2016-07-28 13:37] ajdapretnar commented on #1463
I'm not entirely sure I understand what you're referring to. Learners in Test&Score are named as defined in the learner's widget. See below: alpha and beta. This name is further passed to any other widgets that accept learners and such, i.e. Data Table, Confusion Matrix and so on.

Widget names on the canvas are a different thing and are changed separately by renaming them.

![naming-widgets](http

[2016-07-28 13:39] ajdapretnar commented on #1463
Or do you mean you would want to apply renaming of the learner **within** the widget, i.e. alpha, also to the widget on the canvas? Thus if I rename my learner to _alpha_, the widget should also be renamed to _alpha_?

[2016-07-28 13:46] Pelonza commented on #1463
So, at least on the install of orange that my students have been running we do NOT see the behavior you are showing. That is, where you name it on the widget open, and it shows up differently in "Test and score"

[2016-07-28 13:48] Pelonza commented on #1463
Let me confirm with them and their models... I'll get back to you today.

[2016-07-28 14:03] ales-erjavec commented on #1359
We do that. We only run the python installer (currently 3.4) if it is not already installed. The python environments can live side by side, without major difficulty, although only one can be (first) on the PATH and registered as the launcher for .py files (and you are presented with an option for that during the Python installation).

Install Python 2.7 and set your environmental variables (PYTHON

[2016-07-28 14:03] Pelonza commented on #1463
Ok. I downloaded and checked against the test file they'd left me.
The behavior works as you've shown (sort of). If you change the name with the widget set to "auto send", the name does not get updated, unless you close and open the file again.
Example:
Create a Naive Bayes Widget
Connect it to the test & score
Open the Widget editor (the double click, not the F2 rename).
Change the name.
Close th

[2016-07-28 14:06] Pelonza commented on #1463
Hmm. I guess also relevant to the example setup:
Already have test/score on the canvas. With learners connected in. I.E. already computed/computing things. The key is to change the name after the widget has "sent" the data. Basically a changed name doesn't force a new "send automatically". which is perhaps a minor actual issue, but can lead to confusion for novice users (as happened to my students

[2016-07-28 14:19] ajdapretnar commented on #1463
Ok, I see what you mean. When you are typing in a new name, you should see a small 'Enter' icon appear next to the entry field. If you press Enter or that icon or, as you said, close the widget, changes get saved and applied automatically. Otherwise I reckon names would be updated per every key stroke.

I've tried Naive Bayes, Classification Tree and SVM and all of them get the 'enter' icon once I

[2016-07-28 14:24] Pelonza commented on #1463
Ah.. I do NOT get an "enter" icon. Or at least it's not obvious to me where it is. Nor when I hit "enter" does it update. I tried Naive Bayes and Classification trees.

I'm not sure if my Mac-User also saw this, but I'm running it on windows.